unpackaged/main/default/flows/Advise_User_of_Case_Mgt_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Advise_Case_Management_User</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>AdviseUser</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>User.Advise_Case_Management_User</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>DoWeProceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [User].ProfileId ) &amp;&amp;
ISNEW() = false &amp;&amp; 
([User].Profile.Name = &#39;Customer Community Login User Support&#39; || [User].Profile.Name  = &#39;Customer Support Community&#39;) &amp;&amp;
(PRIORVALUE([User].Profile.Name)  = &#39;Customer Community Login User Contributor&#39; || PRIORVALUE([User].Profile.Name)  = &#39;Customer Community Contributor&#39;)
&amp;&amp; NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.ProfileId} ) &amp;&amp;
ISNEW() = false &amp;&amp; 
({!myVariable_current.Profile.Name} = &#39;Customer Community Login User Support&#39; || {!myVariable_current.Profile.Name}  = &#39;Customer Support Community&#39;) &amp;&amp;
(PRIORVALUE({!myVariable_current.Profile.Name})  = &#39;Customer Community Login User Contributor&#39; || PRIORVALUE({!myVariable_current.Profile.Name})  = &#39;Customer Community Contributor&#39;)
&amp;&amp; NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [User].ProfileId ) &amp;&amp;
ISNEW() = false &amp;&amp; 
([User].Profile.Name = &#39;Customer Community Login User Support&#39; || [User].Profile.Name  = &#39;Customer Support Community&#39;) &amp;&amp;
(PRIORVALUE([User].Profile.Name)  = &#39;Customer Community Login User Contributor&#39; || PRIORVALUE([User].Profile.Name)  = &#39;Customer Community Contributor&#39;)
&amp;&amp; NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_old.ProfileId} ) &amp;&amp;
ISNEW() = false &amp;&amp; 
({!myVariable_old.Profile.Name} = &#39;Customer Community Login User Support&#39; || {!myVariable_old.Profile.Name}  = &#39;Customer Support Community&#39;) &amp;&amp;
(PRIORVALUE({!myVariable_old.Profile.Name})  = &#39;Customer Community Login User Contributor&#39; || PRIORVALUE({!myVariable_old.Profile.Name})  = &#39;Customer Community Contributor&#39;)
&amp;&amp; NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <interviewLabel>Advise_User_of_Case_Mgt_Access-3_InterviewLabel</interviewLabel>
    <label>Advise User of Case Mgt Access</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>User</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
