unpackaged/main/default/flows/AssignCaseEntitlementV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CAATIQldIncident_0</name>
        <label>CAATIQldIncident</label>
        <locationX>2081</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAA - Trade &amp; Investment Queensland GITC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CAATIQldIncidentNot_0</name>
        <label>CAATIQldIncidentNot</label>
        <locationX>2041</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAA - Trade &amp; Investment Queensland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CECVIncident</name>
        <label>CECVIncident</label>
        <locationX>1216</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CECV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CECVIncidentNot</name>
        <label>CECVIncidentNot</label>
        <locationX>1304</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CECV ASM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GAWBIncident</name>
        <label>GAWBIncident</label>
        <locationX>1376</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gladstone Area Water Board GITC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GAWBIncidentNot</name>
        <label>GAWBIncidentNot</label>
        <locationX>1453</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gladstone Area Water Board</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IWCIncident_0_0_0_0_0</name>
        <label>IWCIncident</label>
        <locationX>3136</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inner West Council Incidents</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IWCIncidentNot_0_0_0_0_0</name>
        <label>IWCIncidentNot</label>
        <locationX>3345</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inner West Council</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MBRCIncident_0_0_0_0</name>
        <label>MBRCIncident</label>
        <locationX>2797</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Moreton Bay Regional Council GITC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MBRCIncidentNot_0_0_0_0</name>
        <label>MBRCIncidentNot</label>
        <locationX>2971</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Moreton Bay Regional Council</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MercyASM</name>
        <label>MercyASM</label>
        <locationX>357</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercy ASM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MercyHRPIncident</name>
        <label>Mercy24x7</label>
        <locationX>191</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercy 24x7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MercyIncidentNotHRP</name>
        <label>Mercy7-7</label>
        <locationX>237</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercy Incidents 7-7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAFEQIncident</name>
        <label>TAFEQIncident</label>
        <locationX>1545</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAFE Queensland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAFEQIncidentNot</name>
        <label>TAFEQIncidentNot</label>
        <locationX>1649</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAFE Queensland ASM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TafeQldIncident</name>
        <label>TafeQldIncident</label>
        <locationX>485</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAA - TAFE Queensland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TafeQldIncident_0</name>
        <label>TafeQldIncidentNot</label>
        <locationX>577</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAA - TAFE Queensland ASM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniDundIncident_0_0_0</name>
        <label>UniDundIncident</label>
        <locationX>2590</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>University of Dundee SLA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniDundIncidentNot_0_0_0</name>
        <label>UniDundIncidentNot</label>
        <locationX>2691</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>University of Dundee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniMelbIncident_0_0</name>
        <label>UniMelbIncident</label>
        <locationX>2353</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>University of Melbourne SLA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniMelbIncidentNot_0_0</name>
        <label>UniMelbIncidentNot</label>
        <locationX>2324</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>University of Melbourne</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniOfLincolnIncident</name>
        <label>UniOfLincolnIncident</label>
        <locationX>1059</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>University of Lincoln</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniOfLincolnIncidentNot</name>
        <label>UniOfLincolnIncidentNot</label>
        <locationX>1134</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>University of Lincoln ASM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VicUniIncident</name>
        <label>VicUniIncident</label>
        <locationX>1373</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Victoria University Incidents</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VicUniIncidentNot</name>
        <label>VicUniIncidentNot</label>
        <locationX>1912</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Victoria University</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WellingtonIncident</name>
        <label>WellingtonIncident</label>
        <locationX>742</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wellington City Council</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WellingtonIncidentNot</name>
        <label>WellingtonIncidentNot</label>
        <locationX>884</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>vEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wellington City Council ASM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Default_Account_Entitlement_By_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dAccountId</name>
        <label>dAccountId</label>
        <locationX>559</locationX>
        <locationY>40</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveAccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rGetAccountName</targetReference>
            </connector>
            <label>HaveAccountId</label>
        </rules>
    </decisions>
    <decisions>
        <name>dAffectedProduct</name>
        <label>dAffectedProduct</label>
        <locationX>184</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveAffectedProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsHRP</targetReference>
            </connector>
            <label>HaveAffectedProduct</label>
        </rules>
        <rules>
            <name>NoAffectedProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_1_1</targetReference>
            </connector>
            <label>NoAffectedProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>dAffectedProduct_0</name>
        <label>dAffectedProduct</label>
        <locationX>1711</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveAffectedProduct_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsStudentManagement</targetReference>
            </connector>
            <label>HaveAffectedProduct</label>
        </rules>
        <rules>
            <name>NoAffectedProduct_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VicUniIncidentNot</targetReference>
            </connector>
            <label>NoAffectedProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>dEntitlementTest</name>
        <label>dEntitlementTest</label>
        <locationX>343</locationX>
        <locationY>40</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vEntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dAccountId</targetReference>
            </connector>
            <label>IsNotDefined</label>
        </rules>
    </decisions>
    <decisions>
        <name>dHaveAccountName</name>
        <label>dHaveAccountName</label>
        <locationX>1152</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveAccountName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsMercy</targetReference>
            </connector>
            <label>HaveAccountName</label>
        </rules>
    </decisions>
    <decisions>
        <name>dHaveEntitlement</name>
        <label>dHaveEntitlement</label>
        <locationX>1765</locationX>
        <locationY>726</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uSetEntitlementOnCase</targetReference>
            </connector>
            <label>HaveOne</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsCAATIQld_0_0</name>
        <label>dIsCAATIQld</label>
        <locationX>1877</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>dIsUniMelb_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CAATIQld_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAA - Trade &amp; Investment Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsCECV</name>
        <label>dIsCECV</label>
        <locationX>1209</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>dIsGAWB_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CECV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catholic Education Melbourne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsGAWB_0</name>
        <label>dIsGAWB</label>
        <locationX>1375</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>dIsTAFEQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_GAWB_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gladstone Area Water Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsHRP</name>
        <label>dIsHRP</label>
        <locationX>188</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>dIsIncident_0_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotHRP</defaultConnectorLabel>
        <rules>
            <name>IsHRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Human Resource &amp; Payroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_1</targetReference>
            </connector>
            <label>IsHRP</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident</name>
        <label>dIsIncident</label>
        <locationX>480</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TafeQldIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TafeQldIncident_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0</name>
        <label>dIsIncident</label>
        <locationX>769</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I require an AMS service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WellingtonIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I require an AMS service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WellingtonIncidentNot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>960</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniOfLincolnIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniOfLincolnIncidentNot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>1210</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CECVIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CECVIncidentNot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>1373</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GAWBIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GAWBIncidentNot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>1545</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAFEQIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAFEQIncidentNot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>1862</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAATIQldIncident_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAATIQldIncidentNot_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>2165</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniMelbIncident_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniMelbIncidentNot_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>2580</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniDundIncident_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniDundIncidentNot_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>2849</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MBRCIncident_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MBRCIncidentNot_0_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>3194</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IWCIncident_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IWCIncidentNot_0_0_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0_1</name>
        <label>dIsIncident</label>
        <locationX>1719</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dAffectedProduct_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VicUniIncidentNot</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_1</name>
        <label>dIsIncident</label>
        <locationX>190</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MercyHRPIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MercyASM</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_1_1</name>
        <label>dIsIncident</label>
        <locationX>361</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MercyIncidentNotHRP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MercyASM</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIWC_0_0_0_0_0_0</name>
        <label>dIsIWC</label>
        <locationX>3040</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Default_Account_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IWC_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inner West Council</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsMBRC_0_0_0_0_0</name>
        <label>dIsMBRC</label>
        <locationX>2731</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>dIsIWC_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MBRC_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moreton Bay Regional Council</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsMercy</name>
        <label>dIsMercy</label>
        <locationX>180</locationX>
        <locationY>137</locationY>
        <defaultConnector>
            <targetReference>dIsTafeQld</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mercy Health and Aged Care Incorporated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dAffectedProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsStudentManagement</name>
        <label>dIsStudentManagement</label>
        <locationX>1523</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>VicUniIncidentNot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotSM</defaultConnectorLabel>
        <rules>
            <name>IsSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Student Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VicUniIncident</targetReference>
            </connector>
            <label>IsSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsTAFEQ</name>
        <label>dIsTAFEQ</label>
        <locationX>1543</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>dIsVicUni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TAFEQ_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAFE Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsTafeQld</name>
        <label>dIsTafeQld</label>
        <locationX>479</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>dIsWellingtonCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TafeQld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAA - TAFE Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsUniMelb_0_0_0</name>
        <label>dIsUniMelb</label>
        <locationX>2171</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>dIsUniMelb_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UniMelb_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>University of Melbourne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsUniMelb_0_0_0_0</name>
        <label>dIsUniDund</label>
        <locationX>2434</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>dIsMBRC_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UniDund_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>The University of Dundee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsUniOfLincoln</name>
        <label>dIsUniOfLincoln</label>
        <locationX>960</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>dIsCECV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UniOfLincoln</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>University of Lincoln</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsVicUni</name>
        <label>dIsVicUni</label>
        <locationX>1721</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>dIsCAATIQld_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VicUni_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victoria University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0_0_0_0_0_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsWellingtonCC</name>
        <label>dIsWellingtonCC</label>
        <locationX>768</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>dIsUniOfLincoln</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WellingtonCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wellington City Council</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsIncident_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Add Inner West Council</description>
    <interviewLabel>AssignCaseEntitlementV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignCaseEntitlementV2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement</name>
        <label>Retrieve Default Account Entitlement</label>
        <locationX>2907</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_By_Name</name>
        <label>Retrieve Default Account Entitlement By Name</label>
        <locationX>1137</locationX>
        <locationY>633</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEntitlementName</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>rGetAccountId</name>
        <label>rGetAccountId</label>
        <locationX>182</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dEntitlementTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vProductAffected</assignToReference>
            <field>Customer_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vEntitlementId</assignToReference>
            <field>EntitlementId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCaseRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rGetAccountName</name>
        <label>rGetAccountName</label>
        <locationX>785</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType</name>
        <label>rRecordType</label>
        <locationX>974</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveAccountName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>uSetEntitlementOnCase</name>
        <label>uSetEntitlementOnCase</label>
        <locationX>1362</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>rEntitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>rGetAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cAccountEntitlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>rEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>sCaseEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vEntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vProductAffected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
