unpackaged/main/default/flows/AssignCaseEntitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>dAccountId</name>
        <label>dAccountId</label>
        <locationX>452</locationX>
        <locationY>31</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveAccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rGetAccounName</targetReference>
            </connector>
            <label>HaveAccountId</label>
        </rules>
    </decisions>
    <decisions>
        <name>dAffectedProduct</name>
        <label>dAffectedProduct</label>
        <locationX>44</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveAffectedProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsHRP</targetReference>
            </connector>
            <label>HaveAffectedProduct</label>
        </rules>
        <rules>
            <name>NoAffectedProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0_0_1_1</targetReference>
            </connector>
            <label>NoAffectedProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>dEntitlementTest</name>
        <label>dEntitlementTest</label>
        <locationX>238</locationX>
        <locationY>33</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vEntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dAccountId</targetReference>
            </connector>
            <label>IsNotDefined</label>
        </rules>
    </decisions>
    <decisions>
        <name>dHaveAccountName</name>
        <label>dHaveAccountName</label>
        <locationX>49</locationX>
        <locationY>151</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveAccountName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsMercy</targetReference>
            </connector>
            <label>HaveAccountName</label>
        </rules>
    </decisions>
    <decisions>
        <name>dHaveEntitlement</name>
        <label>dHaveEntitlement</label>
        <locationX>997</locationX>
        <locationY>678</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uSetEntitlementOnCase</targetReference>
            </connector>
            <label>HaveOne</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsCECV</name>
        <label>dIsCECV</label>
        <locationX>256</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>dIsGAWB_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CECV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catholic Education Melbourne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsDETQld</name>
        <label>dIsDETQld</label>
        <locationX>262</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>dIsWellingtonCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DETQld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Department of Education &amp; Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsGAWB_0</name>
        <label>dIsGAWB</label>
        <locationX>285</locationX>
        <locationY>873</locationY>
        <defaultConnector>
            <targetReference>dIsTAFEQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_GAWB_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gladstone Area Water Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsHRP</name>
        <label>dIsHRP</label>
        <locationX>29</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>rRecordType_0_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotHRP</defaultConnectorLabel>
        <rules>
            <name>IsHRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductAffected</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Human Resource &amp; Payroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0_0_1</targetReference>
            </connector>
            <label>IsHRP</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident</name>
        <label>dIsIncident</label>
        <locationX>575</locationX>
        <locationY>148</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_TAFE_Qld</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_TAFE_Qld_ASM</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0</name>
        <label>dIsIncident</label>
        <locationX>570</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_DET_Qld_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_DET_Qld_ASM_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0</name>
        <label>dIsIncident</label>
        <locationX>568</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I require an AMS service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_WellingtonCC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I require an AMS service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_WellingtonCC_ASM_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>548</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_UniOfLincoln</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_UniOfLincoln_ASM_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>536</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_CECV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_CECV_ASM</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>597</locationX>
        <locationY>794</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_GAWB_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_GAWB_ASM_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_0_0_0_0</name>
        <label>dIsIncident</label>
        <locationX>785</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_TAFEQ_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_TAFEQ_ASM_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_1</name>
        <label>dIsIncident</label>
        <locationX>33</locationX>
        <locationY>721</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_MercyASM24x7</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_MercyASM</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsIncident_0_0_1_1</name>
        <label>dIsIncident</label>
        <locationX>132</locationX>
        <locationY>939</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_IsIncident_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_MercyASM_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoIncident_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I am experiencing an issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Default_Account_Entitlement_MercyASM</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsMercy</name>
        <label>dIsMercy</label>
        <locationX>51</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>dIsTafeQld</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mercy Health and Aged Care Incorporated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dAffectedProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsTAFEQ</name>
        <label>dIsTAFEQ</label>
        <locationX>468</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Default_Account_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TAFEQ_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAFE Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsTafeQld</name>
        <label>dIsTafeQld</label>
        <locationX>258</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>dIsDETQld</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TafeQld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAA - TAFE Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsUniOfLincoln</name>
        <label>dIsUniOfLincoln</label>
        <locationX>264</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>dIsCECV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UniOfLincoln</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>University of Lincoln</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsWellingtonCC</name>
        <label>dIsWellingtonCC</label>
        <locationX>259</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>dIsUniOfLincoln</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WellingtonCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wellington City Council</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rRecordType_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sets the default Entitlement for a new Case</description>
    <interviewLabel>AssignCaseEntitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignCaseEntitlement</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement</name>
        <label>Retrieve Default Account Entitlement</label>
        <locationX>1206</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_CECV</name>
        <label>Retrieve Default Account Entitlement CECV</label>
        <locationX>723</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CECV</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_CECV_ASM</name>
        <label>Retrieve Default Account Entitlement CECV ASM</label>
        <locationX>654</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CECV ASM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_DET_Qld_0</name>
        <label>Retrieve Default Account Entitlement DET Qld</label>
        <locationX>936</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Department of Education &amp; Training</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_DET_Qld_ASM_0</name>
        <label>Retrieve Default Account Entitlement DET Qld ASM</label>
        <locationX>867</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Department of Education &amp; Training ASM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_GAWB_0</name>
        <label>Retrieve Default Account Entitlement GAWB</label>
        <locationX>935</locationX>
        <locationY>805</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>GITC</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_GAWB_ASM_0</name>
        <label>Retrieve Default Account Entitlement GAWB ASM</label>
        <locationX>1004</locationX>
        <locationY>951</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gladstone Area Water Board</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_MercyASM</name>
        <label>Retrieve Default Account Entitlement Mercy ASM</label>
        <locationX>383</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mercy ASM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_MercyASM24x7</name>
        <label>Retrieve Default Account Entitlement Mercy ASM 24x7</label>
        <locationX>26</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mercy 24x7</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_MercyASM_1</name>
        <label>Retrieve Default Account Entitlement Mercy ASM</label>
        <locationX>131</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mercy Incidents 7-7</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_TAFE_Qld</name>
        <label>Retrieve Default Account Entitlement TAFE Qld</label>
        <locationX>1191</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAA - TAFE Queensland</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_TAFE_Qld_ASM</name>
        <label>Retrieve Default Account Entitlement TAFE Qld ASM</label>
        <locationX>1077</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAA - TAFE Queensland ASM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_TAFEQ_0_0</name>
        <label>Retrieve Default Account Entitlement TAFEQ</label>
        <locationX>1192</locationX>
        <locationY>1021</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAFE Queensland</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_TAFEQ_ASM_0_0</name>
        <label>Retrieve Default Account Entitlement TAFEQ ASM</label>
        <locationX>1163</locationX>
        <locationY>1222</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAFE Queensland ASM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_UniOfLincoln</name>
        <label>Retrieve Default Account Entitlement UniOfLincoln</label>
        <locationX>715</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>University of Lincoln</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_UniOfLincoln_ASM_0_0_0</name>
        <label>Retrieve Default Account Entitlement UniOfLincoln ASM</label>
        <locationX>724</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>University of Lincoln ASM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_WellingtonCC</name>
        <label>Retrieve Default Account Entitlement WellingtonCC</label>
        <locationX>727</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wellington City Council</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Default_Account_Entitlement_WellingtonCC_ASM_0_0</name>
        <label>Retrieve Default Account Entitlement WellingtonCC ASM</label>
        <locationX>729</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wellington City Council ASM</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>rEntitlement</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>rGetAccounName</name>
        <label>rGetAccountName</label>
        <locationX>712</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dHaveAccountName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rGetAccountId_1</name>
        <label>rGetAccountId</label>
        <locationX>51</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dEntitlementTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vProductAffected</assignToReference>
            <field>Customer_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vEntitlementId</assignToReference>
            <field>EntitlementId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCaseRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType</name>
        <label>rRecordType</label>
        <locationX>415</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0</name>
        <label>rRecordType</label>
        <locationX>430</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0_0</name>
        <label>rRecordType</label>
        <locationX>432</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0_0_0</name>
        <label>rRecordType</label>
        <locationX>409</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0_0_0_0</name>
        <label>rRecordType</label>
        <locationX>399</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0_0_0_0_0</name>
        <label>rRecordType</label>
        <locationX>461</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0_0_0_0_0_0</name>
        <label>rRecordType</label>
        <locationX>620</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0_0_1</name>
        <label>rRecordType</label>
        <locationX>32</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0_0_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rRecordType_0_0_1_1</name>
        <label>rRecordType</label>
        <locationX>198</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsIncident_0_0_1_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>uSetEntitlementOnCase</name>
        <label>uSetEntitlementOnCase</label>
        <locationX>1248</locationX>
        <locationY>685</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>rEntitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>rGetAccountId_1</startElementReference>
    <status>Active</status>
    <variables>
        <name>cAccountEntitlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>rEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>sCaseEntitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vEntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProductAffected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
