unpackaged/main/default/flows/Case_Update_SLA_Indicator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contract_Applicable</name>
        <label>Contract Applicable</label>
        <locationX>1612</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>var_ContractsResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_and_update_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Not_Applicable</name>
        <label>Contract Not Applicable</label>
        <locationX>767</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>var_ContractsResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_and_update_field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>977</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Contract_Not_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired or Terminated</defaultConnectorLabel>
        <rules>
            <name>Not_Expired_or_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_and_update_field.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_and_update_field.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SLA_Product</targetReference>
            </connector>
            <label>Not Expired or Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Credit_Products</name>
        <label>Check Service Credit Products</label>
        <locationX>1265</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Contract_Not_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SC / No Product Match</defaultConnectorLabel>
        <rules>
            <name>SC_Product_Match</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Check_and_update_field.Support_Service_Credit_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_ProductAffected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_and_update_field.Support_Service_Credit_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_and_update_field.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_and_update_field.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - High Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Credit_Priorities</targetReference>
            </connector>
            <label>SC Product Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SLA_Product</name>
        <label>Check SLA Product</label>
        <locationX>1267</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Check_Service_Credit_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SLA Reporting / No Product Match</defaultConnectorLabel>
        <rules>
            <name>SLA_Product_Match</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Check_and_update_field.Support_SLA_Reporting_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_ProductAffected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_and_update_field.Support_SLA_Reporting_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_and_update_field.SLA_Reporting_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Applicable</targetReference>
            </connector>
            <label>SLA Product Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Case_Update</name>
        <label>Determine Case Update</label>
        <locationX>552</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Case_SLA_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contracts apply</defaultConnectorLabel>
        <rules>
            <name>One_or_more_contracts_apply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContractsResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_SLA_to_True</targetReference>
            </connector>
            <label>One or more contracts apply</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Credit_Priorities</name>
        <label>Service Credit Priorities</label>
        <locationX>1604</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>Contract_Not_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Priorities Apply</defaultConnectorLabel>
        <rules>
            <name>SC_Priority_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_and_update_field.Support_Service_Credit_Priorities__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_Priority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_and_update_field.Support_Service_Credit_Priorities__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Applicable</targetReference>
            </connector>
            <label>SC Priority Match</label>
        </rules>
    </decisions>
    <interviewLabel>Case - SLA Indicator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - SLA Indicator</label>
    <loops>
        <description>Check each contract and update Service Credits / SLA Reporting field on case if applicable</description>
        <name>Check_and_update_field</name>
        <label>Check and update field</label>
        <locationX>751</locationX>
        <locationY>111</locationY>
        <collectionReference>AllContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contract_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Case_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all contracts related to the account on the case</description>
        <name>Get_All_Contracts</name>
        <label>Get All Contracts</label>
        <locationX>554</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_and_update_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AMS - Application Managed Services Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AMS - Temporary Uplift</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>AllContracts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Support_Service_Credit_Products__c</queriedFields>
        <queriedFields>Support_SLA_Reporting_Products__c</queriedFields>
        <queriedFields>Support_Service_Credit_Priorities__c</queriedFields>
        <queriedFields>SLA_Reporting_Obligation__c</queriedFields>
        <queriedFields>Service_Credit__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>Service_Credit__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_ID</name>
        <label>Get Case Record ID</label>
        <locationX>407</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Affected_Version</assignToReference>
            <field>Affected_Version__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ProductAffected</assignToReference>
            <field>Customer_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Priority</assignToReference>
            <field>Priority</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Support_SLA_Customer</assignToReference>
            <field>Support_SLA_Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Case_SLA_to_False</name>
        <label>Case SLA to False</label>
        <locationX>320</locationX>
        <locationY>314</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Credits_SLA_Reporting__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_SLA_to_True</name>
        <label>Case SLA to True</label>
        <locationX>563</locationX>
        <locationY>555</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Credits_SLA_Reporting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Get_Case_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Affected_Version</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseSLASC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContractsResult</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>For text result of contracts result collection variable</description>
        <name>var_ContractsResultText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProductAffected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>For debugging and testing only. When active, use $Record function</description>
        <name>var_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Support_SLA_Customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
