unpackaged/main/default/flows/Case_Calculate_Support_Score_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Bypass_Work_Flow</name>
        <label>Check Bypass Work Flow</label>
        <locationX>186</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoBypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.T1_Control_Settings__c.Bypass_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Details</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_AccountId</name>
        <label>Has AccountId?</label>
        <locationX>473</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the case score is changed</description>
        <name>Is_Score_changed</name>
        <label>Is Score changed</label>
        <locationX>832</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseScore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CaseScore</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_CalCaseScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Score</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Scheduled daily to update all open support case scores if scores are changed</description>
    <formulas>
        <name>var_AccountRatingScore</name>
        <dataType>Number</dataType>
        <expression>IF(NULLVALUE({!var_AccountRating},&#39;&#39;) =&#39;A&#39;,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_ActionScore</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!var_ActionNeeded}),0,7)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_AffectedEnvScore</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!var_AffectedEnv}),0,
IF({!var_AffectedEnv} = &#39;Production&#39;,5,0))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_AgeScore</name>
        <dataType>Number</dataType>
        <expression>IF({!var_Age} &lt;7,5 ,
IF({!var_Age} &lt;90,1,
IF({!var_Age} &lt;120,2,
IF({!var_Age} &lt;365,3,4))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculate Case Score</description>
        <name>var_CalCaseScore</name>
        <dataType>Number</dataType>
        <expression>{!var_PriorityScore}+{!var_SLAScore}+{!var_AffectedEnvScore}+{!var_AgeScore}+{!var_CaseTypeScore}+{!var_StatusScore}+{!var_ActionScore}+{!var_RefRatingScore}+{!var_AccountRatingScore}+{!var_CSMScore}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_CaseTypeScore</name>
        <dataType>Number</dataType>
        <expression>CASE({!var_RecordType}, 
&#39;Incident&#39;,5, 
&#39;Consulting_Question&#39;,3,
&#39;Cons_Q_or_I&#39;,3,
&#39;TechnologyOne_Cloud_Service_Request&#39;,2,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_CSMScore</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!var_CSM}),0,2)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_PriorityScore</name>
        <dataType>Number</dataType>
        <expression>Case({!var_Priority},&#39;Critical&#39;,200,&#39;Urgent&#39;,150,&#39;High&#39;,100,&#39;Medium&#39;,50,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_RefRatingScore</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!var_ReferenceRating}),0,
Case({!var_ReferenceRating},&#39;1&#39;,1,&#39;2&#39;,2,&#39;3&#39;,3,0))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_SLAScore</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!var_SLA}),0,
CASE({!var_SLA},&#39;Service Credits&#39;,7,&#39;SLA Reporting&#39;,4,&#39;Service Credits and SLA Reporting&#39;, 11,0))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_StatusScore</name>
        <dataType>Number</dataType>
        <expression>CASE({!var_Status} , &#39;New&#39;,5,&#39;Awaiting Customer&#39; , -350,&#39;With Development&#39;,-250, &#39;On Hold&#39; ,-450, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case - Calculate Support Score Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Calculate Support Score Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>692</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Score_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_CSM</assignToReference>
            <field>CSM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AccountRating</assignToReference>
            <field>Rating</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ReferenceRating</assignToReference>
            <field>Reference_Rating__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SLA</assignToReference>
            <field>Support_SLA_Customer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get_Case_Details</label>
        <locationX>328</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AffectedEnv</assignToReference>
            <field>Affected_Version__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Age</assignToReference>
            <field>Case_Age_in_Days__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_RecordType</assignToReference>
            <field>Case_Record_Type_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ActionNeeded</assignToReference>
            <field>Customer_Reply_Action_Needed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Priority</assignToReference>
            <field>Priority</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_CaseScore</assignToReference>
            <field>Support_Case_Score__c</field>
        </outputAssignments>
        <sortField>Type</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Score</name>
        <label>Update Case Score</label>
        <locationX>1027</locationX>
        <locationY>336</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Case_Score__c</field>
            <value>
                <elementReference>var_CalCaseScore</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>69</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Check_Bypass_Work_Flow</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7) AND 8</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consulting_Question</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TechnologyOne_Cloud_Service_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cons_Q_or_I</stringValue>
            </value>
        </filters>
        <filters>
            <field>Affected_Version__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-20</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AccountRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ActionNeeded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AffectedEnv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_CaseScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_CSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ReferenceRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_SLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
