unpackaged/main/default/flows/Case_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Creation_Question</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Case Creation Email - Question</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Creation_Question</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Creation_Consulting_Services</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Case Creation Email - Consulting Services</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Creation_Consulting_Services</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Creation_AMS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Case Creation Email - AMS</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Creation_AMS</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Creation</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Case Creation Email - Standard</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Creation</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Create Question</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Create Consulting Service Request</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Create AMS Service Request</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Create Case Standard</label>
        </rules>
    </decisions>
    <description>Master process for created case records</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Case].Status, &#39;New&#39;) &amp;&amp;
[Case].RecordType.Name = &#39;I have a Question&#39; &amp;&amp; NOT(ISPICKVAL([Case].Origin, &#39;Email&#39;))  &amp;&amp; 
NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Status}, &#39;New&#39;) &amp;&amp;
{!myVariable_current.RecordType.Name} = &#39;I have a Question&#39; &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Origin}, &#39;Email&#39;))  &amp;&amp; 
NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Case].Status , &#39;New&#39;) &amp;&amp;
[Case].RecordType.Name  = &#39;I require Consulting services&#39; &amp;&amp;
NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Status} , &#39;New&#39;) &amp;&amp;
{!myVariable_current.RecordType.Name}  = &#39;I require Consulting services&#39; &amp;&amp;
NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Case].Status , &#39;New&#39;) &amp;&amp; 
NOT(ISBLANK([Case].AccountId)) &amp;&amp;
[Case].Account.QUEUE_Allocation__c  = &#39;AMS&#39; &amp;&amp; 
[Case].RecordType.Name  = &#39;I require an AMS service&#39; &amp;&amp; 
NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Status} , &#39;New&#39;) &amp;&amp; 
NOT(ISBLANK({!myVariable_current.AccountId})) &amp;&amp;
{!myVariable_current.Account.QUEUE_Allocation__c}  = &#39;AMS&#39; &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &#39;I require an AMS service&#39; &amp;&amp; 
NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Case].Status, &#39;New&#39;) &amp;&amp; 
NOT(ISBLANK([Case].AccountId)) &amp;&amp;
(NOT([Case].Account.QUEUE_Allocation__c = &#39;AMS&#39;) || ([Case].Account.QUEUE_Allocation__c = &#39;AMS&#39; &amp;&amp; [Case].RecordType.Name  = &#39;I am experiencing an issue&#39;) || ([Case].Account.QUEUE_Allocation__c = &#39;AMS&#39; &amp;&amp; [Case].RecordType.Name = &#39;I have a Question&#39; &amp;&amp; ISPICKVAL([Case].Origin, &#39;Email&#39; )) || ([Case].Account.QUEUE_Allocation__c = &#39;AMS&#39; &amp;&amp; [Case].RecordType.Name = &#39;I require a TechnologyOne Cloud service&#39;) ) &amp;&amp; 
NOT([Case].RecordType.Name = &#39;Change Control&#39;) &amp;&amp; 
NOT([Case].RecordType.Name = &#39;I require Consulting services&#39;) &amp;&amp; 
NOT([Case].RecordType.Name = &#39;Consulting - Question&#39;) &amp;&amp; 
NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Status}, &#39;New&#39;) &amp;&amp; 
NOT(ISBLANK({!myVariable_current.AccountId})) &amp;&amp;
(NOT({!myVariable_current.Account.QUEUE_Allocation__c} = &#39;AMS&#39;) || ({!myVariable_current.Account.QUEUE_Allocation__c} = &#39;AMS&#39; &amp;&amp; {!myVariable_current.RecordType.Name}  = &#39;I am experiencing an issue&#39;) || ({!myVariable_current.Account.QUEUE_Allocation__c} = &#39;AMS&#39; &amp;&amp; {!myVariable_current.RecordType.Name} = &#39;I have a Question&#39; &amp;&amp; ISPICKVAL({!myVariable_current.Origin}, &#39;Email&#39; )) || ({!myVariable_current.Account.QUEUE_Allocation__c} = &#39;AMS&#39; &amp;&amp; {!myVariable_current.RecordType.Name} = &#39;I require a TechnologyOne Cloud service&#39;) ) &amp;&amp; 
NOT({!myVariable_current.RecordType.Name} = &#39;Change Control&#39;) &amp;&amp; 
NOT({!myVariable_current.RecordType.Name} = &#39;I require Consulting services&#39;) &amp;&amp; 
NOT({!myVariable_current.RecordType.Name} = &#39;Consulting - Question&#39;) &amp;&amp; 
NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <interviewLabel>Case_Create-2_InterviewLabel</interviewLabel>
    <label>Case - Create</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
