unpackaged/main/default/flows/Case_Case_Closed_Resolved_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Functional_Area</name>
        <label>Assign Functional Area</label>
        <locationX>480</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>var_Internal_Functional_Area.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_functional_Area</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_Case_Closed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Closed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Bypass_Work_Flow</name>
        <label>Check Bypass Work Flow</label>
        <locationX>168</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoBypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.T1_Control_Settings__c.Bypass_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Details</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveredRelease</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivered_Release__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FoundTechnology</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CTechnology__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonBAUCustomerActivity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Non_BAU_Customer_Activity__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Affected</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Product__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Case - Case Closed/Resolved Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Case Closed/Resolved Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>320</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Functional_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_Found_Technology</assignToReference>
            <field>CTechnology__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_RecordTypeName</assignToReference>
            <field>Case_Record_Type_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Customer_Product</assignToReference>
            <field>Customer_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Delivery_Release</assignToReference>
            <field>Delivered_Release__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_High_or_Extreme_PII_Data</assignToReference>
            <field>High_or_Extreme_PII_Data__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_functional_Area</assignToReference>
            <field>Internal_Functional_Area__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Knowledge_Article</assignToReference>
            <field>Knowledge_Article_Required__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Non_BAU_Customer_Activity</assignToReference>
            <field>Non_BAU_Customer_Activity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Case_reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Resolution</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Troubleshooting_Guide_update_required</assignToReference>
            <field>Troubleshooting_Guide_update_required__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>791</locationX>
        <locationY>185</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CTechnology__c</field>
            <value>
                <elementReference>scr_Found_Technology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Product__c</field>
            <value>
                <elementReference>scr_Product_Affected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivered_Release__c</field>
            <value>
                <elementReference>scr_Delivered_Release</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_or_Extreme_PII_Data__c</field>
            <value>
                <elementReference>scr_High_Or_Extreme_PII_Data</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Knowledge_Article_Required__c</field>
            <value>
                <elementReference>scr_Knowledge_Article_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_BAU_Customer_Activity__c</field>
            <value>
                <elementReference>scr_Non_BAU_Customer_Activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>scr_Case_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>scr_Resolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>scr_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Troubleshooting_Guide_update_required__c</field>
            <value>
                <elementReference>scr_Troubleshooting_Guide_Update_Required</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>scr_Case_Closed</name>
        <label>Case Closed/Resolved</label>
        <locationX>647</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>scr_Status</name>
            <choiceReferences>CaseStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Closed</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr_Case_Reason</name>
            <choiceReferences>CaseReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_Case_reason</elementReference>
            </defaultValue>
            <fieldText>Case Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr_Resolution</name>
            <defaultValue>
                <stringValue>{!var_Resolution}</stringValue>
            </defaultValue>
            <fieldText>Resolution</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr_Delivered_Release</name>
            <choiceReferences>DeliveredRelease</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_Delivery_Release</elementReference>
            </defaultValue>
            <fieldText>Delivered Release</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_RecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Incident</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>scr_Case_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Software Engineering</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_Non_BAU_Customer_Activity</name>
            <choiceReferences>NonBAUCustomerActivity</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_Non_BAU_Customer_Activity</elementReference>
            </defaultValue>
            <fieldText>Non-BAU Customer Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_RecordTypeName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>I_require_an_AMS_service</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_Found_Technology</name>
            <choiceReferences>FoundTechnology</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_Found_Technology</elementReference>
            </defaultValue>
            <fieldText>Found Technology</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr_Product_Affected</name>
            <choiceReferences>Product_Affected</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_Customer_Product</elementReference>
            </defaultValue>
            <fieldText>Product Affected</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr_Knowledge_Article_Required</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Knowledge_Article</elementReference>
            </defaultValue>
            <fieldText>Knowledge Article Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_RecordTypeName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>I_require_an_AMS_service</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_Troubleshooting_Guide_Update_Required</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_Troubleshooting_Guide_update_required</elementReference>
            </defaultValue>
            <fieldText>Troubleshooting Guide Update Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_RecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Incident</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_RecordTypeName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cons_Q_or_I</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_High_Or_Extreme_PII_Data</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>var_High_or_Extreme_PII_Data</elementReference>
            </defaultValue>
            <fieldText>High Or Extreme PII Data</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Please update fields&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Bypass_Work_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_Case_reason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Customer_Product</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Delivery_Release</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Found_Technology</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_functional_Area</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_High_or_Extreme_PII_Data</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Internal_Functional_Area</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Functional_Area__c</objectType>
    </variables>
    <variables>
        <name>var_Knowledge_Article</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Non_BAU_Customer_Activity</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Resolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Troubleshooting_Guide_update_required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
