unpackaged/main/default/flows/Cloud_Team_Critical_P1_Case_Changed_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Alert_when_Cloud_Customer_Case_is_upgraded_to_P1_Critical_Case</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send upgraded email to cloud team</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Alert_when_Cloud_Customer_Case_is_upgraded_to_P1_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Alert_when_Cloud_Customer_P1_Critical_Case_is_downgraded</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send downgraded email to cloud team</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Alert_when_Cloud_Customer_P1_Critical_Case_is_downgraded</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Alert_when_Cloud_Customer_P1_Critical_Case_is_closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Send closed email alert</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Alert_when_Cloud_Customer_P1_Critical_Case_is_closed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Cloud P1 case upgraded</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Cloud P1 case downgraded</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Cloud P1 case closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Case alert for Critical (P1) case upgraded, downgraded and closed for cloud team</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Priority) &amp;&amp; NOT(ISPICKVAL(PRIORVALUE([Case].Priority) , &quot;Critical&quot;)) &amp;&amp;ISPICKVAL([Case].Priority,  &#39;Critical&#39;) &amp;&amp; ([Case].Account.SaaS__c  = true || [Case].Account.Cloud_Hosting__c  = true) &amp;&amp; NOT( [Case].RecordType.Name  = &#39;Change Control&#39;) &amp;&amp; NOT($Setup.T1_Control_Settings__c.Bypass_Workflow__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Priority}) &amp;&amp; NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.Priority}) , &quot;Critical&quot;)) &amp;&amp;ISPICKVAL({!myVariable_current.Priority},  &#39;Critical&#39;) &amp;&amp; ({!myVariable_current.Account.SaaS__c}  = true || {!myVariable_current.Account.Cloud_Hosting__c}  = true) &amp;&amp; NOT( {!myVariable_current.RecordType.Name}  = &#39;Change Control&#39;) &amp;&amp; NOT({!$Setup.T1_Control_Settings__c.Bypass_Workflow__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Priority) &amp;&amp; ISPICKVAL(PRIORVALUE([Case].Priority) , &quot;Critical&quot;) &amp;&amp; NOT(ISPICKVAL([Case].Priority, &quot;Critical&quot;))  &amp;&amp; ([Case].Account.SaaS__c  = true || [Case].Account.Cloud_Hosting__c  = true) &amp;&amp; NOT( [Case].RecordType.Name  = &#39;Change Control&#39;) &amp;&amp; NOT($Setup.T1_Control_Settings__c.Bypass_Workflow__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Priority}) &amp;&amp; ISPICKVAL(PRIORVALUE({!myVariable_current.Priority}) , &quot;Critical&quot;) &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Priority}, &quot;Critical&quot;))  &amp;&amp; ({!myVariable_current.Account.SaaS__c}  = true || {!myVariable_current.Account.Cloud_Hosting__c}  = true) &amp;&amp; NOT( {!myVariable_current.RecordType.Name}  = &#39;Change Control&#39;) &amp;&amp; NOT({!$Setup.T1_Control_Settings__c.Bypass_Workflow__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].IsClosed = True &amp;&amp; NOT([Case].RecordType.Name  = &#39;Change Control&#39;) &amp;&amp; ISPICKVAL( [Case].Priority , &#39;Critical&#39;) &amp;&amp; ([Case].Account.SaaS__c  = true || [Case].Account.Cloud_Hosting__c  = true) &amp;&amp; NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.IsClosed} = True &amp;&amp; NOT({!myVariable_current.RecordType.Name}  = &#39;Change Control&#39;) &amp;&amp; ISPICKVAL( {!myVariable_current.Priority} , &#39;Critical&#39;) &amp;&amp; ({!myVariable_current.Account.SaaS__c}  = true || {!myVariable_current.Account.Cloud_Hosting__c}  = true) &amp;&amp; NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].IsClosed = True &amp;&amp; NOT([Case].RecordType.Name  = &#39;Change Control&#39;) &amp;&amp; ISPICKVAL( [Case].Priority , &#39;Critical&#39;) &amp;&amp; ([Case].Account.SaaS__c  = true || [Case].Account.Cloud_Hosting__c  = true) &amp;&amp; NOT( $Setup.T1_Control_Settings__c.Bypass_Workflow__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.IsClosed} = True &amp;&amp; NOT({!myVariable_old.RecordType.Name}  = &#39;Change Control&#39;) &amp;&amp; ISPICKVAL( {!myVariable_old.Priority} , &#39;Critical&#39;) &amp;&amp; ({!myVariable_old.Account.SaaS__c}  = true || {!myVariable_old.Account.Cloud_Hosting__c}  = true) &amp;&amp; NOT( {!$Setup.T1_Control_Settings__c.Bypass_Workflow__c} )</expression>
    </formulas>
    <interviewLabel>Cloud_Team_Critical_P1_Case_Changed_Alerts-7_InterviewLabel</interviewLabel>
    <label>Cloud Team Critical (P1) Case Changed Alerts</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
