unpackaged/main/default/flows/Cons_Serv_Engagement_Reminder_Calc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>BypassWorkflow</name>
        <label>BypassWorkflow</label>
        <locationX>76</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoBypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vBypassWorkflow</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HaveStartDate</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveStartDate</name>
        <label>HaveStartDate</label>
        <locationX>76</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EngagementStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEngagementReminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EngagementStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEngagementReminder_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Calculates the Engagement Start Reminder date as 3 days prior to Engagement Start.</description>
    <formulas>
        <description>Engagement Start date - 3 work days</description>
        <name>v_EngagementReminderDate</name>
        <dataType>Date</dataType>
        <expression>CASE( MOD( {!var_EngagementStartDate} - DATE(1900, 1, 7), 7),
0, {!var_EngagementStartDate}-4,
1, {!var_EngagementStartDate}-5,
2, {!var_EngagementStartDate}-5,
3, {!var_EngagementStartDate}-5,
4, {!var_EngagementStartDate}-3,
5, {!var_EngagementStartDate}-3,
6, {!var_EngagementStartDate}-3,
{!var_EngagementStartDate})</expression>
    </formulas>
    <formulas>
        <name>vBypassWorkflow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.T1_Control_Settings__c.Bypass_Workflow__c}</expression>
    </formulas>
    <interviewLabel>Cons Serv - Engagement Reminder Calc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cons Serv - Engagement Reminder Calc</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateEngagementReminder</name>
        <label>UpdateEngagementReminder</label>
        <locationX>75</locationX>
        <locationY>371</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Start_Reminder__c</field>
            <value>
                <elementReference>v_EngagementReminderDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEngagementReminder_0</name>
        <label>UpdateEngagementReminder</label>
        <locationX>431</locationX>
        <locationY>173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Start_Reminder__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>BypassWorkflow</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_EngagementStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
