unpackaged/main/default/flows/Cons_Serv_Send_Activity_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Activity_report</name>
        <label>Send Activity report</label>
        <locationX>299</locationX>
        <locationY>55</locationY>
        <actionName>Case.Send_Activity_Report_for_Consulting_Services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>HaveRequiredFields</name>
        <label>HaveRequiredFields</label>
        <locationX>49</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesHaveRequiredFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConsultingActivityPerformed</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varOutstandingActivities</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varRecommendationsDiscussion</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Activity_report</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Cons Serv - Send Activity Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cons Serv - Send Activity Report</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCaseFields</name>
        <label>GetCaseFields</label>
        <locationX>48</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveRequiredFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varConsultingActivityPerformed</assignToReference>
            <field>Consulting_Activity_Performed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOutstandingActivities</assignToReference>
            <field>Outstanding_Activities_by_Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecommendationsDiscussion</assignToReference>
            <field>Recommendations_Discussion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>301</locationX>
        <locationY>205</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Work Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Work Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>49</locationX>
        <locationY>313</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TheMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The Activity Report cannot be produced because either the Consulting Activity Performed, Recommendations/Discussion or Outstanding Activities by Client have not been defined on the Case. Please correct the problem and try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetCaseFields</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varConsultingActivityPerformed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOutstandingActivities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecommendationsDiscussion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
