unpackaged/main/default/flows/Cons_Serv_Quote_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Task_Request</name>
        <label>Send Task Request</label>
        <locationX>110</locationX>
        <locationY>496</locationY>
        <actionName>Case.Send_Quote_Accepted_Task_Required</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>BypassWorkflow</name>
        <label>BypassWorkflow</label>
        <locationX>104</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoBypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vBypassWorkflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Quote_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Quote_Status</name>
        <label>Which Quote Status</label>
        <locationX>102</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_QuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccepted</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_QuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDeclined</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>Lapsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_QuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lapsed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLapsed</targetReference>
            </connector>
            <label>Lapsed</label>
        </rules>
        <rules>
            <name>Blank</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>var_QuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_QuoteStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccepted_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <description>Applies the appropriate field updates depending on whether the quote was accepted, declined or lapsed.</description>
    <formulas>
        <name>vBypassWorkflow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.T1_Control_Settings__c.Bypass_Workflow__c}</expression>
    </formulas>
    <interviewLabel>Cons Serv - Quote Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cons Serv - Quote Status Changed</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateAccepted</name>
        <label>UpdateAccepted</label>
        <locationX>104</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>Send_Task_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Resource Allocation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccepted_0</name>
        <label>UpdateAccepted</label>
        <locationX>311</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Status_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Quote Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDeclined</name>
        <label>UpdateDeclined</label>
        <locationX>528</locationX>
        <locationY>126</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Quote Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Quote Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLapsed</name>
        <label>UpdateLapsed</label>
        <locationX>477</locationX>
        <locationY>246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>BypassWorkflow</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_QuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
