unpackaged/main/default/flows/Cons_Serv_Send_Engagement_Confirm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Engagement</name>
        <label>Send Engagement</label>
        <locationX>414</locationX>
        <locationY>124</locationY>
        <actionName>Case.Send_Engagement_Confirmation_for_Consulting_Services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>HaveRequiredFields</name>
        <label>HaveRequiredFields</label>
        <locationX>88</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>DisplayError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesHaveRequiredFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEngagementEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEngagementStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEngagementNotes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Engagement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Cons Serv - Send Engagement Confirm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cons Serv - Send Engagement Confirm</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCaseFields</name>
        <label>GetCaseFields</label>
        <locationX>87</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveRequiredFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varEngagementEndDate</assignToReference>
            <field>Engagement_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEngagementNotes</assignToReference>
            <field>Engagement_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEngagementStartDate</assignToReference>
            <field>Engagement_Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>414</locationX>
        <locationY>266</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>DisplayError</name>
        <label>DisplayError</label>
        <locationX>84</locationX>
        <locationY>300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TheMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The Engagement Confirmation cannot be produced because either the Engagement Notes, Engagement Start Date or Engagement End Date are not available on the Case. Please correct the problem and try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetCaseFields</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEngagementEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEngagementNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEngagementStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
