unpackaged/main/default/flows/Cons_Serv_Send_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Quote</name>
        <label>Send Quote</label>
        <locationX>330</locationX>
        <locationY>99</locationY>
        <actionName>Case.Send_Quote_for_Consulting_Services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>HaveMilestoneType</name>
        <label>HaveMilestoneType</label>
        <locationX>533</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMilestoneType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseMilestone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveQuoteFields</name>
        <label>HaveQuoteFields</label>
        <locationX>66</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>DisplayError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varScopeofWork</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vTaxIncl</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssumptions</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>The expiry date for Quote</description>
        <name>varQuoteExpiry</name>
        <dataType>DateTime</dataType>
        <expression>CASE( MOD( TODAY() - DATE(1900, 1, 7), 7),
0, NOW()+43,
1, NOW()+42,
2, NOW()+42,
3, NOW()+42,
4, NOW()+42,
5, NOW()+42,
6, NOW()+44,
NOW() )</expression>
    </formulas>
    <formulas>
        <description>Quote Reminder date</description>
        <name>varQuoteReminder</name>
        <dataType>DateTime</dataType>
        <expression>CASE( MOD( TODAY() - DATE(1900, 1, 7), 7),
0, NOW()+8,
1, NOW()+7,
2, NOW()+7,
3, NOW()+7,
4, NOW()+7,
5, NOW()+7,
6, NOW()+9,
NOW() )</expression>
    </formulas>
    <formulas>
        <name>varQuoteSecondReminder</name>
        <dataType>DateTime</dataType>
        <expression>CASE( MOD( TODAY() - DATE(1900, 1, 7), 7),
0, NOW()+15,
1, NOW()+14,
2, NOW()+14,
3, NOW()+14,
4, NOW()+14,
5, NOW()+14,
6, NOW()+16,
NOW() )</expression>
    </formulas>
    <interviewLabel>Cons Serv - Send Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cons Serv - Send Quote</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Provide_Quote_MilestoneTypeID</name>
        <label>Get Provide Quote MilestoneTypeID</label>
        <locationX>331</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveMilestoneType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provide Quote</stringValue>
            </value>
        </filters>
        <object>MilestoneType</object>
        <outputReference>varMilestoneType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseFields</name>
        <label>GetCaseFields</label>
        <locationX>66</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveQuoteFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varAssumptions</assignToReference>
            <field>Assumptions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScopeofWork</assignToReference>
            <field>Scope_of_Work__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTaxIncl</assignToReference>
            <field>Total_Incl_Tax__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>332</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>Get_Provide_Quote_MilestoneTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Expiry__c</field>
            <value>
                <elementReference>varQuoteExpiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reminder__c</field>
            <value>
                <elementReference>varQuoteReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Second_Reminder__c</field>
            <value>
                <elementReference>varQuoteSecondReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Quote Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseMilestone</name>
        <label>UpdateCaseMilestone</label>
        <locationX>535</locationX>
        <locationY>497</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMilestoneType.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <screens>
        <name>DisplayError</name>
        <label>DisplayError</label>
        <locationX>66</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TheErrorMessge</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The quote cannot be produced because either the Total Incl Tax, Scope of Work or Assumptions have not been defined on the Case. Please correct the problem and try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetCaseFields</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseQuoteFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssumptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMilestoneType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MilestoneType</objectType>
    </variables>
    <variables>
        <name>varScopeofWork</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vTaxIncl</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
