unpackaged/main/default/flows/IdeaEmailNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendCommentNotification</name>
        <label>SendCommentNotification</label>
        <locationX>321</locationX>
        <locationY>358</locationY>
        <actionName>Idea_Email_Notification__c.IdeaSubscriberCommentAdded</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DeleteEmailNotification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vRecId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendStatusNotification</name>
        <label>SendStatusNotification</label>
        <locationX>602</locationX>
        <locationY>349</locationY>
        <actionName>Idea_Email_Notification__c.IdeaSubscriberStatusChange</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DeleteEmailNotification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vRecId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ReasonType</name>
        <label>ReasonType</label>
        <locationX>450</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>DeleteEmailNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdeaEmailNotification.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendStatusNotification</targetReference>
            </connector>
            <label>Status</label>
        </rules>
        <rules>
            <name>Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdeaEmailNotification.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendCommentNotification</targetReference>
            </connector>
            <label>Comment</label>
        </rules>
    </decisions>
    <interviewLabel>IdeaEmailNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IdeaEmailNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteEmailNotification</name>
        <label>DeleteEmailNotification</label>
        <locationX>462</locationX>
        <locationY>528</locationY>
        <inputReference>IdeaEmailNotification</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get the record</description>
        <name>getIdeaEmailNotification</name>
        <label>getIdeaEmailNotification</label>
        <locationX>304</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReasonType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecId</elementReference>
            </value>
        </filters>
        <object>Idea_Email_Notification__c</object>
        <outputReference>IdeaEmailNotification</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Reason__c</queriedFields>
        <queriedFields>Idea__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getIdeaEmailNotification</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>IdeaEmailNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Idea_Email_Notification__c</objectType>
    </variables>
    <variables>
        <name>vRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
