unpackaged/main/default/flows/Onboarding_Post_Day_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_user</name>
        <label>Email user</label>
        <locationX>293</locationX>
        <locationY>568</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>For_each_user</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Day1Post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>For_each_user.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome to the Customer Community!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <description>Post to Customer Community users created yesterday</description>
    <formulas>
        <description>Formula for week 1 posts - proof of concept</description>
        <name>CreatedYesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} -1</expression>
    </formulas>
    <interviewLabel>Onboarding Post Day 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Post Day 1</label>
    <loops>
        <name>For_each_user</name>
        <label>For each user</label>
        <locationX>293</locationX>
        <locationY>374</locationY>
        <collectionReference>Get_User_Id_of_New_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_user</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Store UserId of new user</description>
        <name>Get_User_Id_of_New_User</name>
        <label>Get User Id of New User</label>
        <locationX>171</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_On__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedYesterday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Username</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>44</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Get_User_Id_of_New_User</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-13</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Day1Post</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://technologyone--dev--c.documentforce.com/sfc/servlet.shepherd/version/download/0682O000000NuIR?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank You &amp;amp;&amp;nbsp;Welcome to the Customer Community&lt;/b&gt;&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Hi&amp;nbsp;{!For_each_user.FirstName}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;It brings me great joy that you have joined the Customer Community yesterday.&amp;nbsp;I know that it can feel overwhelming when you first join the community and you may not know where to start, so I thought I’d jump in and send you a note to say the best place to start is&amp;nbsp;with these first three steps:&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 10.5pt;&quot;&gt;1 - Favourite&amp;nbsp;the Customer Community URL in your browser so you can come back again&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI Emoji&amp;quot;;&quot;&gt;😊&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 10.5pt;&quot;&gt;2 - Check your contact details are correct and upload a profile image (See how&amp;nbsp;&lt;/b&gt;&lt;a href=&quot;https://customercommunity.technologyonecorp.com/s/article/How-to-check-your-contact-details-and-upload-a-profile-picture&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 10.5pt;&quot;&gt;)&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 10.5pt;&quot;&gt;3 - Check out our&amp;nbsp;&lt;/b&gt;&lt;a href=&quot;https://customercommunity.technologyonecorp.com/s/article/TechnologyOne-Customer-Community-User-Guide&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Overview of the Customer Community video&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 10.5pt; color: rgb(9, 181, 209);&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Lastly I’m here to help&amp;nbsp;and&amp;nbsp;I&#39;d love to give you&amp;nbsp;some personal recommendations on what aspects of the community will bring you the best success in your&amp;nbsp;role,&amp;nbsp;so if you are interested&amp;nbsp;please let me know a bit more about what you do / what you need to achieve.&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Olivia McDonald&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Customer Community Specialist&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://customercommunity.technologyonecorp.com/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 22px; color: rgb(9, 181, 209);&quot;&gt;&lt;b&gt;Visit Customer Community Now&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>The user that will receive the post</description>
        <name>NewUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
