unpackaged/main/default/flows/OppARRMovementSet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ExistingBusSet</name>
        <label>ExistingBusSet</label>
        <locationX>544</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>varTypeModelSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Opportunity - Add Product, Users, Uplift</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewBusSet</name>
        <label>NewBusSet</label>
        <locationX>496</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTypeModelSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Opportunity - New logo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewtoExistingSet</name>
        <label>NewtoExistingSet</label>
        <locationX>544</locationX>
        <locationY>934</locationY>
        <assignmentItems>
            <assignToReference>varTypeModelSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Opportunity - Product uptake</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SaasExtrasSet</name>
        <label>SaasExtrasSet</label>
        <locationX>544</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>varTypeModelSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Opportunity - SaaS extras</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SaaSFlipSet</name>
        <label>SaaSFlipSet</label>
        <locationX>543</locationX>
        <locationY>1269</locationY>
        <assignmentItems>
            <assignToReference>varTypeModelSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Opportunity - SaaS flips</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SpatialRenewalSet</name>
        <label>SpatialRenewalSet</label>
        <locationX>556</locationX>
        <locationY>1447</locationY>
        <assignmentItems>
            <assignToReference>varTypeModelSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Opportunity - Spatial renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubChanged</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_Workflow</name>
        <label>Bypass Workflow</label>
        <locationX>30</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoBypassWorkflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.T1_Control_Settings__c.Bypass_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingBus</name>
        <label>ExistingBus</label>
        <locationX>343</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>NewBus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingBus</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual &amp; Cloud Uplift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingBusSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewBus</name>
        <label>NewBus</label>
        <locationX>344</locationX>
        <locationY>780</locationY>
        <defaultConnector>
            <targetReference>NewtoExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NewBus</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual &amp; Cloud Uplift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewBusSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewtoExist</name>
        <label>NewtoExist</label>
        <locationX>343</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>SaasExtras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NewtoExist</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New to Existing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual &amp; Cloud Uplift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewtoExistingSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaasExtras</name>
        <label>SaasExtras</label>
        <locationX>343</locationX>
        <locationY>1096</locationY>
        <defaultConnector>
            <targetReference>SaasFlip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SaasExtras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS extras / Draas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Acquisition Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaasExtrasSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaasFlip</name>
        <label>SaasFlip</label>
        <locationX>342</locationX>
        <locationY>1270</locationY>
        <defaultConnector>
            <targetReference>Spatial_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SaasFlip</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Acquisition Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLicenceModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS flip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaaSFlipSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesforceOpportunity</name>
        <label>SalesforceOpportunity</label>
        <locationX>340</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SalesforceOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varArrMovementCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingBus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spatial_renewal</name>
        <label>Spatial renewal</label>
        <locationX>360</locationX>
        <locationY>1446</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SpatialRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquisition Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpatialRenewalSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubCalculated</name>
        <label>SubCalculated</label>
        <locationX>342</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>SalesforceOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SubCalculated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varARRSubCat</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&#39;&#39;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varARRSubCat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubDifferent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubChanged</name>
        <label>SubChanged</label>
        <locationX>754</locationX>
        <locationY>603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSubChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTypeModelSubCat</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varARRSubMovementCategory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubDifferent</name>
        <label>SubDifferent</label>
        <locationX>540</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SubDifferent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varARRSubCat</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varARRSubMovementCategory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>varARRSubCat</name>
        <dataType>String</dataType>
        <expression>Case({!varArrMovementCategory},&#39;Cancelled Client&#39;,&#39;Cancelled Client&#39;,&#39;Correction&#39;,&#39;Correction&#39;,&#39;Currency Movement&#39;,&#39;Currency Movement&#39;,&#39;Indexation&#39;,&#39;Indexation&#39;,&#39;Other Movements&#39;,&#39;Other Movements&#39;,&#39;T1 Foundation&#39;,&#39;T1 Foundation&#39;,&#39;&#39;)</expression>
    </formulas>
    <interviewLabel>OppARRMovementSet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppARRMovementSet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubCalculated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varArrMovementCategory</assignToReference>
            <field>ARR_Movement_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varARRSubMovementCategory</assignToReference>
            <field>ARR_Sub_Movement_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLicenceModel</assignToReference>
            <field>Licence_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>720</locationX>
        <locationY>246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR_Sub_Movement_Category__c</field>
            <value>
                <elementReference>varARRSubCat</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp_0</name>
        <label>UpdateOpp</label>
        <locationX>1194</locationX>
        <locationY>603</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR_Sub_Movement_Category__c</field>
            <value>
                <elementReference>varTypeModelSubCat</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_Workflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varArrMovementCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varARRSubMovementCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLicenceModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTypeModelSubCat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
