unpackaged/main/default/flows/Opportunity_Email_Alerts_to_RMs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_WA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Email RM - WA</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_WA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_WA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Email RM - WA</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_WA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_ACT</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Email RM - ACT</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_ACT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_NZN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Email RM - NZN</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_NZN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_NZS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Email RM - NZS</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_NZS</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_QLD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email RM - QLD</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_QLD</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_UK</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Email RM - UK</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_UK</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_QLD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email RM - QLD</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_QLD</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_NSW</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Email RM - NSW</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_NSW</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_VIC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email RM - VIC</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_VIC</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_RM_VIC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Email RM - VIC</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Email_RM_VIC</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>LF Fcst - QLD</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>LF Fcst - SANT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>LF Fcst - WA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>LF Fcst - ACT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>LF Fcst NZN</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>LF Fcst NZS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>LF Fcst SEAP</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>LF Fcst UK</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>LF Fcst - NSW</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>LF Fcst - VIC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>LF Fcst - TAS</label>
        </rules>
    </decisions>
    <description>Email to RMs based on Opportunity Owner Role when an opportunity is moved.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;QLD&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;QLD&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;SANT&quot;)
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;SANT&quot;)
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;WA&quot;)
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;WA&quot;)
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;ACT&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;ACT&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;NZN&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;NZN&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;NZS&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;NZS&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;UK&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;UK&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;SEAP&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;SEAP&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;NSW&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)


      </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;NSW&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;VIC&quot;)
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;VIC&quot;)
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Opportunity].Opportunity_Owner_Role__c, &quot;TAS&quot;) 
&amp;&amp; [Opportunity].Record_Type__c = &quot;Licence Fee&quot;
&amp;&amp; ([Opportunity].OO_Forecast__c || [Opportunity].Include_in_Forecast__c )
&amp;&amp; (ISCHANGED([Opportunity].StageName )  ||
      ISCHANGED([Opportunity].CloseDate ) || 
      ISCHANGED([Opportunity].Project_Start_Date__c) ||
     ISCHANGED([Opportunity].Licence_Model__c))
&amp;&amp; (TEXT([Opportunity].StageName) = &quot;3 - Proposal&quot; ||
       TEXT([Opportunity].StageName) = &quot;4 - Shortlisted&quot; ||
       TEXT([Opportunity].StageName) = &quot;5 - Preferred&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.Opportunity_Owner_Role__c}, &quot;TAS&quot;) 
&amp;&amp; {!myVariable_current.Record_Type__c} = &quot;Licence Fee&quot;
&amp;&amp; ({!myVariable_current.OO_Forecast__c} || {!myVariable_current.Include_in_Forecast__c} )
&amp;&amp; (ISCHANGED({!myVariable_current.StageName} )  ||
      ISCHANGED({!myVariable_current.CloseDate} ) || 
      ISCHANGED({!myVariable_current.Project_Start_Date__c}) ||
     ISCHANGED({!myVariable_current.Licence_Model__c}))
&amp;&amp; (TEXT({!myVariable_current.StageName}) = &quot;3 - Proposal&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;4 - Shortlisted&quot; ||
       TEXT({!myVariable_current.StageName}) = &quot;5 - Preferred&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity_Email_Alerts_to_RMs-2_InterviewLabel</interviewLabel>
    <label>Opportunity Email Alerts to RMs</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
