unpackaged/main/default/flows/Saas_Transition_NPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Contacts_Collection</name>
        <label>Contacts_Collection</label>
        <locationX>725</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>TheContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts_col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRecips</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recips_Collection_0</name>
        <label>Recips_Collection</label>
        <locationX>557</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>TheRecips</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleRecip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurveyRecip_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactIds</name>
        <label>SetContactIds</label>
        <locationX>726</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>Contacts_col.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyRecip_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contacts_col.Survey_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saas Transition NPS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecips</name>
        <label>SetRecips</label>
        <locationX>724</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>SingleRecip.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyRecip_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecip.Survey_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recips_Collection_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Saas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Saas Transition NPS</label>
    <loops>
        <name>SurveyRecip_Loop</name>
        <label>SurveyRecip Loop</label>
        <locationX>348</locationX>
        <locationY>240</locationY>
        <collectionReference>GetSurveyRecips</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetContactIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTheContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSurveyRecips</name>
        <label>GetSurveyRecips</label>
        <locationX>157</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyRecip_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>T1_GF_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetT1GFSurveyID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIn</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>T1_GF_Survey_Recipient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetT1GFSurveyID</name>
        <label>GetT1GFSurveyID</label>
        <locationX>164</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSurveyRecips</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Saas Transition NPS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>T1_GF_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTheContacts</name>
        <label>UpdateTheContacts</label>
        <locationX>348</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>UpdateTheRecips</targetReference>
        </connector>
        <inputReference>TheContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTheRecips</name>
        <label>UpdateTheRecips</label>
        <locationX>349</locationX>
        <locationY>589</locationY>
        <inputReference>TheRecips</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetT1GFSurveyID</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Contacts_col</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SingleRecip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>T1_GF_Survey_Recipient__c</objectType>
    </variables>
    <variables>
        <name>TheContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TheRecips</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>T1_GF_Survey_Recipient__c</objectType>
    </variables>
    <variables>
        <name>varAccountIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
