unpackaged/main/default/flows/Send_Project_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendSurvey</name>
        <label>SendSurvey</label>
        <locationX>412</locationX>
        <locationY>320</locationY>
        <actionName>OpportunityContactRole.Consulting_Project_Survey</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Project_Stage_Completed_is_Set</name>
        <label>Project Stage Completed is Set</label>
        <locationX>168</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey_Triggered__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Triggered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSurvey</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sends the Project NPS Survey to one or more recipients based on Opportunity Contact Roles</description>
    <interviewLabel>Send Project Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Project Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Project_Stage_Completed_is_Set</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
