unpackaged/main/default/flows/Service_Cloud_Change_Requests_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_Case_owner_when_change_request_REJECTED</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Email to Case Owner when change request REJECTED</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_to_Case_owner_when_change_request_REJECTED</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Case_Owner_that_Change_Request_approved_for_UAT</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Email Case Owner that Change Request approved for UAT</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_Case_Owner_that_Change_Request_approved_for_UAT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_Case_owner_when_Approved_PROD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Email to Case Owner when Approved PROD</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_to_Case_owner_when_Approved_PROD</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Contact_that_change_is_completed_in_Dev_and_required_testing</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>CR Dev Completed</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Contact_that_change_is_completed_in_Dev_and_required_testing</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_Case_owner_when_change_request_set_back_to_DEV</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email to Case owner when change request set back to DEV</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_to_Case_owner_when_change_request_set_back_to_DEV</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Sales_Cloud_Approvers_when_pending_UAT</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Email Sales Cloud Approvers when pending UAT</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_Sales_Cloud_Approvers_when_pending_UAT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Sales_Cloud_Approvers_when_pending_PROD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Email Sales Cloud Approvers when pending PROD</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_Sales_Cloud_Approvers_when_pending_PROD</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Service_Cloud_Approvers_when_pending_UAT</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>CR Service DEV to Pending UAT</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_Service_Cloud_Approvers_when_pending_UAT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Contact_that_change_is_applied_to_UAT_and_required_testing</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Notify Contact (tester) that change is applied to UAT</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Contact_that_change_is_applied_to_UAT_and_required_testing</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Service_Cloud_Approvers_when_pending_PROD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email Service Cloud Approvers when pending PROD</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_Service_Cloud_Approvers_when_pending_PROD</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_Contact_when_change_request_applied_to_PROD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Notify Contact (tester) that change is applied to PROD</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Email_to_Contact_when_change_request_applied_to_PROD</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>CR to DEV</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>CR COMPLETE</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>CR to Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>CR Approved UAT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>CR Approved PROD</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>CR Dev Completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>CR Service DEV to Pending UAT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>CR Sales DEV to Pending UAT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>CR Sales to Pending Prod</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>CR Applied UAT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>CR Service to Pending Prod</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>CR Applied PROD</label>
        </rules>
    </decisions>
    <description>This has been created in order to integrate all of the existing SC Change-Requests</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (ISCHANGED( [Case].SFCAB_Status__c ), [Case].RecordType.Name  = &quot;Change Control&quot;, ISPICKVAL([Case].SFCAB_Status__c , &quot;Dev&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND (ISCHANGED( {!myVariable_current.SFCAB_Status__c} ), {!myVariable_current.RecordType.Name}  = &quot;Change Control&quot;, ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Dev&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c  ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;COMPLETE&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;COMPLETE&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (ISCHANGED( [Case].SFCAB_Status__c  ), [Case].RecordType.Name  = &quot;Change Control&quot;, ISPICKVAL([Case].SFCAB_Status__c , &quot;REJECTED&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND (ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ), {!myVariable_current.RecordType.Name}  = &quot;Change Control&quot;, ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;REJECTED&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c  ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Approved UAT&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Approved UAT&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c  ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Approved PROD&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Approved PROD&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Dev Completed&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c} ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Dev Completed&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c  ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Pending UAT&quot;) &amp;&amp; 
ISPICKVAL([Case].System__c , &quot;Sales Cloud&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Pending UAT&quot;) &amp;&amp; 
ISPICKVAL({!myVariable_current.System__c} , &quot;Sales Cloud&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Pending PROD&quot;) &amp;&amp; 
ISPICKVAL([Case].System__c , &quot;Sales Cloud&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c} ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Pending PROD&quot;) &amp;&amp; 
ISPICKVAL({!myVariable_current.System__c} , &quot;Sales Cloud&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c  ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Pending UAT&quot;) &amp;&amp; 
ISPICKVAL([Case].System__c , &quot;Service Cloud&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Pending UAT&quot;) &amp;&amp; 
ISPICKVAL({!myVariable_current.System__c} , &quot;Service Cloud&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c  ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Applied UAT&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Applied UAT&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c  ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Pending PROD&quot;) &amp;&amp; 
ISPICKVAL([Case].System__c , &quot;Service Cloud&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c}  ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Pending PROD&quot;) &amp;&amp; 
ISPICKVAL({!myVariable_current.System__c} , &quot;Service Cloud&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Case].SFCAB_Status__c ) &amp;&amp; 
[Case].RecordType.Name  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL([Case].SFCAB_Status__c , &quot;Applied PROD&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.SFCAB_Status__c} ) &amp;&amp; 
{!myVariable_current.RecordType.Name}  = &quot;Change Control&quot; &amp;&amp; 
ISPICKVAL({!myVariable_current.SFCAB_Status__c} , &quot;Applied PROD&quot;)</expression>
    </formulas>
    <interviewLabel>Service_Cloud_Change_Requests_Process-4_InterviewLabel</interviewLabel>
    <label>Service Cloud Change Requests Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>CASE: Update Status to Closed</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
