unpackaged/main/default/flows/Support_SLA_Customer_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Both_SLA_and_SC</name>
        <label>Both SLA and SC</label>
        <locationX>475</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>var_SLASCResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Both</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contracts_for_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expired_or_Terminated</name>
        <label>Expired or Terminated</label>
        <locationX>983</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_SLASCResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Expired or Terminated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contracts_for_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_SLA_or_SC</name>
        <label>No SLA or SC</label>
        <locationX>791</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>var_SLASCResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contracts_for_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Credits</name>
        <label>Service Credits</label>
        <locationX>679</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>var_SLASCResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Service Credits</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contracts_for_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SLA_Reporting</name>
        <label>SLA Reporting</label>
        <locationX>578</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>var_SLASCResult</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SLA Reporting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contracts_for_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>984</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Expired_or_Terminated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired or Terminated</defaultConnectorLabel>
        <rules>
            <name>Not_Expired_or_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Criteria_Decision</targetReference>
            </connector>
            <label>Not Expired or Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Account_Update</name>
        <label>Determine Account Update</label>
        <locationX>664</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>SLA_Customer_to_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Credits_Result</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>var_SLASCResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Credits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_SLASCResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SLA Reporting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Customer_to_Service_Credits</targetReference>
            </connector>
            <label>Service Credits</label>
        </rules>
        <rules>
            <name>SLA_Reporting_Result</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>var_SLASCResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SLA Reporting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_SLASCResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Credits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Customer_to_SLA_Reporting</targetReference>
            </connector>
            <label>SLA Reporting</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SLASCResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Customer_to_Both</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Both_Different_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SLASCResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Credits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_SLASCResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SLA Reporting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Customer_to_Both</targetReference>
            </connector>
            <label>Both - Different Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_Criteria_Decision</name>
        <label>SLA Criteria Decision</label>
        <locationX>986</locationX>
        <locationY>906</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SSC_No_SLA_No</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.SLA_Reporting_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.SLA_Reporting_Obligation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_SLA_or_SC</targetReference>
            </connector>
            <label>SSC No, SLA No</label>
        </rules>
        <rules>
            <name>SSC_No_SLA_Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.SLA_Reporting_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Reporting</targetReference>
            </connector>
            <label>SSC No, SLA Yes</label>
        </rules>
        <rules>
            <name>SSC_Yes_SLA_No</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - High Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.SLA_Reporting_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.SLA_Reporting_Obligation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Credits</targetReference>
            </connector>
            <label>SSC Yes, SLA No</label>
        </rules>
        <rules>
            <name>SSC_Yes_SLA_Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.Service_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - High Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contracts_for_Details.SLA_Reporting_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_SLA_and_SC</targetReference>
            </connector>
            <label>SSC Yes, SLA Yes</label>
        </rules>
    </decisions>
    <description>Update Account Object when Support SLA Contract conditions are changed</description>
    <interviewLabel>Support SLA Customer Contract Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support SLA Customer Contract</label>
    <loops>
        <description>Check each contract for SLA Reporting / Service Credit details and update account</description>
        <name>Check_Contracts_for_Details</name>
        <label>Check Contracts for Details</label>
        <locationX>675</locationX>
        <locationY>526</locationY>
        <collectionReference>AllContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contract_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Account_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get account fields of account associated with Contract</description>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>328</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Contracts_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_Support_SLA_Customer</assignToReference>
            <field>Support_SLA_Customer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contracts_for_Account</name>
        <label>Get All Contracts for Account</label>
        <locationX>495</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contracts_for_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>AllContracts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>SLA_Reporting_Obligation__c</queriedFields>
        <queriedFields>Service_Credit__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Contract details</description>
        <name>Get_Contract_Fields</name>
        <label>Get Contract Fields</label>
        <locationX>177</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>var_AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContractID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SLA_Reporting_Obligation</assignToReference>
            <field>SLA_Reporting_Obligation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Service_Credit</assignToReference>
            <field>Service_Credit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>SLA_Customer_to_Blank</name>
        <label>SLA Customer to Blank</label>
        <locationX>988</locationX>
        <locationY>389</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_SLA_Customer__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>SLA_Customer_to_Both</name>
        <label>SLA Customer to Both</label>
        <locationX>674</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_SLA_Customer__c</field>
            <value>
                <stringValue>Service Credits and SLA Reporting</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>SLA_Customer_to_Service_Credits</name>
        <label>SLA Customer to Service Credits</label>
        <locationX>983</locationX>
        <locationY>246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_SLA_Customer__c</field>
            <value>
                <stringValue>Service Credits</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>SLA_Customer_to_SLA_Reporting</name>
        <label>SLA Customer to SLA Reporting</label>
        <locationX>982</locationX>
        <locationY>95</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_SLA_Customer__c</field>
            <value>
                <stringValue>SLA Reporting</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>164</locationY>
        <connector>
            <targetReference>Get_Contract_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>Account associated with the Contract</description>
        <name>var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contract ID</description>
        <name>var_ContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Service_Credit</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_SLA_Reporting_Obligation</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SLASCResult</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Support_SLA_Customer</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
