unpackaged/main/default/flows/T1_Community_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AccountnotFound_Email_0</name>
        <label>AccountnotFound_Email</label>
        <locationX>1756</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Display_Account_Count</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AccountnotFound_text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Customer Community self-registration has been unsuccessful</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email community of deactivation request</description>
        <name>Reactivation_Request</name>
        <label>Reactivation Request</label>
        <locationX>446</locationX>
        <locationY>389</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Reactivation_Request_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyUserExists</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Customer Community Reactivation Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reactivation_Request_Active</name>
        <label>Reactivation Request</label>
        <locationX>1170</locationX>
        <locationY>519</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Reactivation_Request_Active_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyUserExists</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Customer Community Reactivation Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Upgrade_access_0</name>
        <label>Upgrade access</label>
        <locationX>1298</locationX>
        <locationY>664</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Support_Upgrade_Request_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyCaseManage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Customer Community Case Management upgrade request successful</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Upgrade_access_0_0</name>
        <label>Upgrade access</label>
        <locationX>818</locationX>
        <locationY>651</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Support_Upgrade_Request_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyCaseManage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Customer Community Case Management upgrade request successful</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UserCreated_Email_0</name>
        <label>UserCreated_Email</label>
        <locationX>1996</locationX>
        <locationY>1477</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Customer_Community_Registration3_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyCaseManage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Customer Community Case Management self-registration successful</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UserNotCreated_Email</name>
        <label>UserNotCreated_Email</label>
        <locationX>2197</locationX>
        <locationY>538</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Customer_Community_Registration3_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Customer Community self-registration has been unsuccessful</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t1customercommunityadmin@technologyonecorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UserNotCreated_text</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AccountAssignAlt1</name>
        <label>AccountAssignAlt1</label>
        <locationX>960</locationX>
        <locationY>1928</locationY>
        <assignmentItems>
            <assignToReference>AccountId_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt12.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Company_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt12.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalRegistration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccountId_Ass</name>
        <label>AccountId_Ass</label>
        <locationX>1917</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>AccountId_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomain_Get_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Company_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomain_Get_0.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalRegistration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccountId_Ass_0</name>
        <label>AccountId_Ass</label>
        <locationX>1614</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>AccountId_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Get_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Company_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Get_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalRegistration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccountId_Ass_0_0_0</name>
        <label>AccountId_Ass</label>
        <locationX>1245</locationX>
        <locationY>2107</locationY>
        <assignmentItems>
            <assignToReference>AccountId_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt22.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Company_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt22.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalRegistration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccountId_Ass_0_0_0_0</name>
        <label>AccountId_Ass</label>
        <locationX>1508</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>AccountId_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt32.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Company_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt32.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalRegistration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Text_0</name>
        <label>assign Text</label>
        <locationX>1031</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>varDispayContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DisplaySupportContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_key_support_contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Text_0_0</name>
        <label>assign Text</label>
        <locationX>524</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>varDispayContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DisplaySupportContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_key_support_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Accounts</name>
        <label>Count_Accounts</label>
        <locationX>1347</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>Acc_Count_v</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AccountbyEmailDomain_Get</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveOneAccount_Dec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Accounts_0</name>
        <label>Count_Accounts</label>
        <locationX>1475</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>Acc_Count_v</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveOneAccount_Dec_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Accounts_0_0</name>
        <label>Count_Accounts</label>
        <locationX>957</locationX>
        <locationY>1424</locationY>
        <assignmentItems>
            <assignToReference>Acc_Count_v</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveOneAccount_Dec_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Accounts_0_0_0</name>
        <label>Count_Accounts</label>
        <locationX>1156</locationX>
        <locationY>1581</locationY>
        <assignmentItems>
            <assignToReference>Acc_Count_v</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveOneAccount_Dec_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Accounts_0_0_0_0</name>
        <label>Count_Accounts</label>
        <locationX>1356</locationX>
        <locationY>1677</locationY>
        <assignmentItems>
            <assignToReference>Acc_Count_v</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AccountbyEmailDomainandName_Alt3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveOneAccount_Dec_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Intended_Purpose_Case_Man</name>
        <choiceText>Case Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intended_Purpose_contrib</name>
        <choiceText>Contributor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contributor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intended_Purpose_self_help_c</name>
        <choiceText>Self Help</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self Help</stringValue>
        </value>
    </choices>
    <constants>
        <description>Was a support key entered</description>
        <name>Supportkeyentered</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <description>Determine if the user is active</description>
        <name>User_Active_Checkbox</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>CaseManagement_Dec</name>
        <label>CaseManagement_Dec</label>
        <locationX>1904</locationX>
        <locationY>1299</locationY>
        <defaultConnector>
            <targetReference>Customer_Community_Registration3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CaseManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intended_purpose_for_community</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Intended_Purpose_Case_Man</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserCreated_Email_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Don_t_know_org_key_0</name>
        <label>Don&#39;t know org key ticked</label>
        <locationX>1154</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>Upgrade_access_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_unsure_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_don_t_know_the_organisation_key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Key_Support_Contacts_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Don_t_know_org_key_0_0</name>
        <label>Don&#39;t know org key ticked</label>
        <locationX>721</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Upgrade_access_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_unsure_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_don_t_know_the_organisation_key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Key_Support_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveOneAccount_Dec</name>
        <label>HaveOneAccount_Dec</label>
        <locationX>1463</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>AccountbyEmailDomainandName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HaveAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acc_Count_v</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountbyEmailDomain_Get_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveOneAccount_Dec_0</name>
        <label>HaveOneAccount_Dec</label>
        <locationX>1466</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>AccountbyEmailDomainandName_Alt1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HaveAccount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acc_Count_v</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountbyEmailDomainandName_Get_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveOneAccount_Dec_0_0</name>
        <label>HaveOneAccount_Dec</label>
        <locationX>948</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>AccountbyEmailDomainandName_Alt2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HaveAccount_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acc_Count_v</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountbyEmailDomainandName_Alt12</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveOneAccount_Dec_0_0_0</name>
        <label>HaveOneAccount_Dec</label>
        <locationX>1148</locationX>
        <locationY>1722</locationY>
        <defaultConnector>
            <targetReference>AccountbyEmailDomainandName_Alt3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HaveAccount_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acc_Count_v</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountbyEmailDomainandName_Alt22</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveOneAccount_Dec_0_0_0_0</name>
        <label>HaveOneAccount_Dec</label>
        <locationX>1338</locationX>
        <locationY>1845</locationY>
        <defaultConnector>
            <targetReference>AccountnotFound_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HaveAccount_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acc_Count_v</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountbyEmailDomainandName_Alt32</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the users account is active or not to determine if its an upgrade request or reactivation request</description>
        <name>Is_User_Active</name>
        <label>Is User Active</label>
        <locationX>616</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Reactivation_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_active_status.Profile_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Key_Provided_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the user active - add on to cater for accounts that are or are not activated</description>
        <name>Is_User_Active_Activated</name>
        <label>Is User Active</label>
        <locationX>1066</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Reactivation_Request_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_active_status_active.Profile_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Key_Provided_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a support key entered to suggest the user wants to upgrade their account</description>
        <name>Support_Key_Provided_0</name>
        <label>Support Key Provided</label>
        <locationX>1066</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>UserExists_Message_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intended_purpose_for_community</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Intended_Purpose_Case_Man</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Don_t_know_org_key_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a support key entered to suggest the user wants to upgrade their account</description>
        <name>Support_Key_Provided_0_0</name>
        <label>Support Key Provided</label>
        <locationX>607</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>UserExists_Message_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intended_purpose_for_community</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Intended_Purpose_Case_Man</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Don_t_know_org_key_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Created_Dec</name>
        <label>User_Created_Dec</label>
        <locationX>1905</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>UserNotCreated_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Created_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseManagement_Dec</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserExists_Dec</name>
        <label>UserExists_Dec</label>
        <locationX>757</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>UserbyName_Get</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_UserbyEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserbyEmail_Get.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_active_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserExists_Dec_0</name>
        <label>UserExists_Dec</label>
        <locationX>1056</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>AccountbyEmailDomain_Get</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_UserbyName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserbyName_Get.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_active_status_active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Email_Domain_v</name>
        <dataType>String</dataType>
        <expression>MID({!Work_Email_Address}, FIND(&quot;@&quot;, {!Work_Email_Address}) + 1, LEN({!Work_Email_Address}))</expression>
    </formulas>
    <interviewLabel>T1 Community Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Community Registration</label>
    <loops>
        <name>For_each_key_support_contact</name>
        <label>For each key support contact</label>
        <locationX>738</locationX>
        <locationY>923</locationY>
        <collectionReference>Key_Support_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Text_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Key_Support_Contacts_Screen_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_key_support_contact_0</name>
        <label>For each key support contact</label>
        <locationX>1175</locationX>
        <locationY>1057</locationY>
        <collectionReference>Key_Support_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Text_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Key_Support_Contacts_Screen_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccountbyEmailDomain_Get</name>
        <label>AccountbyEmailDomain_Get</label>
        <locationX>1219</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomain_Get_0</name>
        <label>AccountbyEmailDomain_Get</label>
        <locationX>1685</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountId_Ass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>1472</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Accounts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName_Alt1</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>952</locationX>
        <locationY>1288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Accounts_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alternate_Name_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName_Alt12</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>960</locationX>
        <locationY>1749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountAssignAlt1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alternate_Name_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName_Alt2</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>1154</locationX>
        <locationY>1432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Accounts_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alternate_Name_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName_Alt22</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>1152</locationX>
        <locationY>1914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountId_Ass_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alternate_Name_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName_Alt3</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>1356</locationX>
        <locationY>1528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Accounts_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alternate_Name_3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName_Alt32</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>1359</locationX>
        <locationY>2016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountId_Ass_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alternate_Name_3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AccountbyEmailDomainandName_Get_Name</name>
        <label>AccountbyEmailDomainandName_Get</label>
        <locationX>1716</locationX>
        <locationY>1278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountId_Ass_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Domain_v</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Key_Support_Contacts</name>
        <label>Key Support Contacts</label>
        <locationX>736</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_key_support_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name_Hidden__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Key_Support_Contacts_0</name>
        <label>Key Support Contacts</label>
        <locationX>1169</locationX>
        <locationY>892</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_key_support_contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name_Hidden__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get user active status</description>
        <name>User_active_status</name>
        <label>User active status</label>
        <locationX>762</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Email_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_active_status_active</name>
        <label>User active status</label>
        <locationX>1068</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Active_Activated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Email_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UserbyEmail_Get</name>
        <label>UserbyEmail_Get</label>
        <locationX>613</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserExists_Dec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Email_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Email_Custom__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UserbyName_Get</name>
        <label>UserbyName_Get</label>
        <locationX>918</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserExists_Dec_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Email_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Community_Registration_Screen</name>
        <label>Community Registration_Screen</label>
        <locationX>622</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UserbyEmail_Get</targetReference>
        </connector>
        <fields>
            <name>Registration_Header_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Thank you for your interest in becoming a member of our Customer Community.&amp;nbsp;Please note that access can only be given to TechnologyOne customers that are live with a product and have transitioned from project to support.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Requests from third-party&amp;nbsp;contractors and or people that are not customers will not be permitted access to the TechnologyOne Customer Community portal. This includes third-party consultants known to TechnologyOne.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;In order to provide you with access to self help, raise ideas for our consideration and support from the community, as well as collaborate with others and TechnologyOne, there are a few details we need from you to complete the registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Organisation</name>
            <dataType>String</dataType>
            <fieldText>Organisation</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please provide the full, unique name of the entity that is registered as a customer with Technology One.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Work Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid email address. Must contain ampersand(@) and full stop(.).&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Work_Email_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Work_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Work Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Please provide a direct contact number to facilitate prompt issue resolution&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid Phone Number in International format. EG +61 731677300&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Work_Phone_Number},&quot;^\\+(?:[0-9] ?){6,14}[0-9]$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>intended_purpose_for_community</name>
            <choiceReferences>Intended_Purpose_contrib</choiceReferences>
            <choiceReferences>Intended_Purpose_Case_Man</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Your intended purpose for the Customer Community</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Organisation_Support_Key</name>
            <dataType>String</dataType>
            <fieldText>Organisation Support Key</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>intended_purpose_for_community</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Intended_Purpose_Case_Man</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_don_t_know_the_organisation_key</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&#39;t know the organisation key</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>intended_purpose_for_community</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Intended_Purpose_Case_Man</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Community_Registration3</name>
        <label>Customer Community Registration</label>
        <locationX>1788</locationX>
        <locationY>1485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_Created_disp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your request has been successfully processed. After you click Finish please close the Registration page and check your email inbox for login information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Community_Registration3_0</name>
        <label>Customer Community Registration</label>
        <locationX>2252</locationX>
        <locationY>1299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserNot_Created_disp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Hi {!First_Name}. Unfortunately we could not process your request. An email has been sent to the Community Administration Team advising of this issue. You can expect to be contacted in due course. Thanks for your patience. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Community_Registration3_0_0</name>
        <label>Customer Community Registration</label>
        <locationX>1997</locationX>
        <locationY>1619</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_Created_disp_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You now have access to the Customer Community for collaboration and self help. We will be in touch soon regarding your Case Management access.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;After you click Finish please close the Registration page and check your email inbox for login information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Account_Count</name>
        <label>Display Account Count</label>
        <locationX>1760</locationX>
        <locationY>1890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayNoAccount</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Hi {!First_Name}. We could not locate your Organisation making it impossible to process your request at this time. Ensure you are not using any acronyms or abbreviations in your organisation name. Please note that access can only be given to TechnologyOne customers that are live with a product and have transitioned from project to support. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;If you require assistance please contact our Community Administration Team at t1customercommunityadmin@technologyonecorp.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalRegistration</name>
        <label>FinalRegistration</label>
        <locationX>2357</locationX>
        <locationY>365</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Created_Dec</targetReference>
        </connector>
        <fields>
            <name>T1CommunitySelfReg</name>
            <extensionName>c:T1CommunitySelfReg</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId_v</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>Work_Email_Address</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fname</name>
                <value>
                    <elementReference>First_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lname</name>
                <value>
                    <elementReference>Last_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orgkey</name>
                <value>
                    <elementReference>Organisation_Support_Key</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phone</name>
                <value>
                    <elementReference>Work_Phone_Number</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>Job_Title</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>company</name>
                <value>
                    <elementReference>Company_v</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>User_Created_Id</assignToReference>
                <name>op_url</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Key_Support_Contacts_Screen_0</name>
        <label>Key Support Contacts</label>
        <locationX>1175</locationX>
        <locationY>1196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Key_Contacts_Screen_0</name>
            <fieldText>&lt;p&gt;Please reach out to your internal Key Support Contacts who hold your Organisation Key:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varDispayContacts}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If there are no Key Support Contacts registered or if you experience any issues obtaining the Organisation Key, please reach out to our Community Administration Team at t1customercommunityadmin@technologyonecorp.com&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Key_Support_Contacts_Screen_0_0</name>
        <label>Key Support Contacts</label>
        <locationX>741</locationX>
        <locationY>1100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Key_Contacts_Screen_0_0</name>
            <fieldText>&lt;p&gt;Please reach out to your internal Key Support Contacts who hold your Organisation Key:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varDispayContacts}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If there are no Key Support Contacts registered or if you experience any issues obtaining the Organisation Key, please reach out to our Community Administration Team at  t1customercommunityadmin@technologyonecorp.com&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reactivation_Request_Active_Screen</name>
        <label>Reactivation Request</label>
        <locationX>1291</locationX>
        <locationY>517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Reactivation_RequestActive</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Welcome back {!First_Name}! Thanks for submitting a reactivation request. Our Community Administration Team will review and action the request shortly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Welcome back! Thank you for requesting to re-activate your account. We will review the request shortly.</description>
        <name>Reactivation_Request_Message</name>
        <label>Reactivation Request</label>
        <locationX>446</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Reactivation_Screen</name>
            <fieldText>&lt;p&gt;Welcome back {!First_Name}! Thanks for submitting a reactivation request. Our Community Administration Team will review and action the request shortly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Support_Upgrade_Request_0</name>
        <label>Support Upgrade Request</label>
        <locationX>1294</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Upgrade_Request_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for requesting to upgrade to Case Management access. Our Community Administration Team will review the request shortly and upgrade your account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Support_Upgrade_Request_0_0</name>
        <label>Support Upgrade Request</label>
        <locationX>833</locationX>
        <locationY>783</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Upgrade_Request_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for requesting to upgrade to Case Management access. Our Community Administration Team will review the request shortly and upgrade your account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserExists_Message_0_0</name>
        <label>UserExists_Message</label>
        <locationX>1071</locationX>
        <locationY>919</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AbortingProcess_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hi {!First_Name}. Registration failed as you already have an account. Try resetting your password on the login screen. If you need assistance contact our Community Administrative Team at t1customercommunityadmin@technologyonecorp.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserExists_Message_0_0_0</name>
        <label>UserExists_Message</label>
        <locationX>610</locationX>
        <locationY>760</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AbortingProcess_0_0_0</name>
            <fieldText>&lt;p&gt;Hi {!First_Name}. Registration failed as you already have an account. Try resetting your password on the login screen. If you need assistance contact our Community Administration Team at t1customercommunityadmin@technologyonecorp.com&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>260</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Community_Registration_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>AccountnotFound_text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!First_Name} {!Last_Name} of {!Organisation} is attempting to register for Customer Community access but we were unable to locate a specific Account based on Email Domain and Name. The problem occurred {!$Flow.CurrentDateTime} UTC.

First Name: {!First_Name}

Last Name: {!Last_Name}

Organisation: {!Organisation}

Job Title: {!Job_Title}

Work Email Address: {!Work_Email_Address}

Work Phone Number: {!Work_Phone_Number}

Intended Purpose: {!intended_purpose_for_community}

Organisation Support Key: {!Organisation_Support_Key}</text>
    </textTemplates>
    <textTemplates>
        <name>DisplaySupportContacts</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!For_each_key_support_contact.FirstName}   {!For_each_key_support_contact.LastName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyCaseManage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!First_Name} {!Last_Name} of {!Organisation} is requesting Case Management access within the Customer Community. User Account created {!$Flow.CurrentDateTime} UTC.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyEmailExists</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!First_Name} {!Last_Name} of {!Organisation} is attempting to register for Customer Community access but the Email Address ({!Work_Email_Address}) is already in use. The problem occurred {!$Flow.CurrentDateTime} UTC.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;First Name: {!First_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Last Name: {!Last_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Organisation: {!Organisation}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Job Title: {!Job_Title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Work Email Address: {!Work_Email_Address}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Work Phone Number: {!Work_Phone_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Intended Purpose: {!intended_purpose_for_community}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Organisation Support Key: {!Organisation_Support_Key}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyUserExists</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!First_Name} {!Last_Name} of {!Organisation} is attempting to reactivate their Customer Community account. The problem occurred {!$Flow.CurrentDateTime} UTC.

First Name: {!First_Name}

Last Name: {!Last_Name}

Organisation: {!Organisation}

Job Title: {!Job_Title}

Work Email Address: {!Work_Email_Address}

Work Phone Number: {!Work_Phone_Number}

Intended Purpose: {!intended_purpose_for_community}

Organisation Support Key: {!Organisation_Support_Key}</text>
    </textTemplates>
    <textTemplates>
        <name>UserNotCreated_text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!First_Name} {!Last_Name} of {!Organisation} is attempting to register for Customer Community access but the User creation process failed. The problem occurred {!$Flow.CurrentDateTime} UTC.

First Name: {!First_Name}

Last Name: {!Last_Name}

Organisation: {!Organisation}

Job Title: {!Job_Title}

Work Email Address: {!Work_Email_Address}

Work Phone Number: {!Work_Phone_Number}

Intended Purpose: {!intended_purpose_for_community}

Organisation Support Key: {!Organisation_Support_Key}</text>
    </textTemplates>
    <variables>
        <name>Acc_Count_v</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AccountId_v</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Company_v</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_v</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Work_Email_Address</elementReference>
        </value>
    </variables>
    <variables>
        <name>First_Name_v</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>First_Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>SupportContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Created_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDispayContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
