unpackaged/main/default/flows/UpdateNewP_SRecipSurveyDates_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>HaveDate</name>
        <label>HaveDate</label>
        <locationX>336</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetProdServSurveyDates.Survey_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProdServSurveyDates.Survey_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProdServSurveyDates.Survey_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateNewP&amp;SRecipSurveyDates Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateNewP&amp;SRecipSurveyDates Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProdServSurveyDates</name>
        <label>GetProdServSurveyDates</label>
        <locationX>172</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProdServId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PCSM_Visit_Cyc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecipient</name>
        <label>UpdateRecipient</label>
        <locationX>513</locationX>
        <locationY>245</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_1__c</field>
            <value>
                <elementReference>GetProdServSurveyDates.Survey_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_2__c</field>
            <value>
                <elementReference>GetProdServSurveyDates.Survey_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_3__c</field>
            <value>
                <elementReference>GetProdServSurveyDates.Survey_3__c</elementReference>
            </value>
        </inputAssignments>
        <object>P_S_Survey_Recipient__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetProdServSurveyDates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varProdServId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varThisID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
