unpackaged/main/default/flows/Update_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Assigned_To</name>
        <label>Email Assigned To</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <actionName>sbaa__Approval__c.Advanced_Approval_Request_Assigned_To</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>approvalId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Approval_Record_1</name>
        <label>Update Approval Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>approvalRecord.sbaa__Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approverRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRecord.sbaa__AssignedGroupId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRecord.sbaa__AssignedTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Approval_Record_2</name>
        <label>Update Approval Record</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>approvalRecord.sbaa__Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approverRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRecord.sbaa__AssignedGroupId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRecord.sbaa__AssignedTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assigned_To</name>
        <label>Check Assigned To</label>
        <locationX>512</locationX>
        <locationY>1070</locationY>
        <defaultConnectorLabel>Assigned To Not Populated</defaultConnectorLabel>
        <rules>
            <name>Assigned_To_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalRecord.sbaa__AssignedTo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>approvalRecord.sbaa__AssignedTo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Assigned_To</targetReference>
            </connector>
            <label>Assigned To Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Approver_Type</name>
        <label>Check New Approver Type</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newApproverType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Is User</label>
        </rules>
        <rules>
            <name>Is_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newApproverType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group</targetReference>
            </connector>
            <label>Is Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User</name>
        <label>Check User</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Approver</targetReference>
            </connector>
            <label>User Exists</label>
        </rules>
    </decisions>
    <description>Update approval record with new user or group approver.
Optionally if new approver is a user, send email notification.</description>
    <formulas>
        <name>truncatedGroupId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Group.Id}), &#39;null&#39;, LEFT({!Get_Group.Id}, 15))</expression>
    </formulas>
    <interviewLabel>Update Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>groupDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Approver</name>
        <label>Get Group Approver</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Approval_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sbaa__GroupId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>truncatedGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbaa__User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sbaa__Approver__c</object>
        <outputReference>approverRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userUsername</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Approver</name>
        <label>Get User Approver</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Approval_Record_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sbaa__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <object>sbaa__Approver__c</object>
        <outputReference>approverRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Record</name>
        <label>Update Approval Record</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Check_Assigned_To</targetReference>
        </connector>
        <inputReference>approvalRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_New_Approver_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sbaa__Approval__c</objectType>
    </variables>
    <variables>
        <name>approverRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sbaa__Approver__c</objectType>
    </variables>
    <variables>
        <description>Group developer name, not the label</description>
        <name>groupDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User or Group</description>
        <name>newApproverType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>username of new approver</description>
        <name>userUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
