unpackaged/main/default/flows/VerifyCustomerAccess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>No_AcceptTermsOfUse_Radio</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_AcceptTermsOfUse_radio</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>dIsCustomer</name>
        <label>dIsCustomer</label>
        <locationX>733</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.UserType</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>csp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rAccountLookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsPortalUser</name>
        <label>dIsPortalUser</label>
        <locationX>303</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_PortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Readonlytime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_PortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.IsPortalEnabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dTermsAccepted</name>
        <label>dTermsAccepted</label>
        <locationX>860</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_TermsAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.Terms_of_Use_Accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_TermsAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.Terms_of_Use_Accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcceptTerms</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dWereTermsAccepted</name>
        <label>dWereTermsAccepted</label>
        <locationX>1025</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_TermsWereAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_accept_the_Terms_of_Use</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uUpdateUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_TermsWereAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_accept_the_Terms_of_Use</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TermsnotAccepted</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Readonlytime</name>
        <label>Readonlytime</label>
        <locationX>301</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>dIsCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_readonlytime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2019-08-09T21:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2019-08-09T22:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Notice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support_Stopped</name>
        <label>Support Stopped</label>
        <locationX>857</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stop Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoSupport</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dTermsAccepted</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Verifies that the Account related to the User has not had a Status of &#39;Stop Support&#39; applied. If it has the user is advised that they cannot access the Community.</description>
    <interviewLabel>VerifyCustomerAccess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VerifyCustomerAccess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>fUserLookup</name>
        <label>fUserLookup</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsPortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
        <queriedFields>UserType</queriedFields>
        <queriedFields>Terms_of_Use_Accepted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>rAccountLookup</name>
        <label>rAccountLookup</label>
        <locationX>700</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Support_Stopped</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObject.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountStatus</assignToReference>
            <field>Account_Status_Customer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>uUpdateUser</name>
        <label>uUpdateUser</label>
        <locationX>1225</locationX>
        <locationY>509</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Terms_of_Use_Accepted__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>AcceptTerms</name>
        <label>AcceptTerms</label>
        <locationX>862</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dWereTermsAccepted</targetReference>
        </connector>
        <fields>
            <name>aText_0</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Use of the TechnologyOne Customer Community is subject to the &lt;/span&gt;&lt;a href=&quot;https://dev-technologyone.cs116.force.com/community/s/terms-and-conditions&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;u&gt;Terms of Use&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;. By ticking the checkbox below you acknowledge your acceptance of the TechnologyOne Customer Community Terms of Use and will be granted access to the Community. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept_the_Terms_of_Use</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I accept&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Community_Notice</name>
        <label>Community Notice</label>
        <locationX>397</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dIsCustomer</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;The Community is in read-only mode until 11 AM (AEST) today. During this time you will not be able to add, change or delete data. If you have a critical issue please call us on your Support Centre free-call number.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoSupport</name>
        <label>NoSupport</label>
        <locationX>1017</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>aText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You have not been granted access to the Customer Community due to an issue with your account with TechnologyOne (such as unpaid invoices). Please contact the TechnologyOne representative within your organisation or the &lt;A HREF=&quot;http://www.technologyonecorp.com/support&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Support Centre&lt;/U&gt;&lt;/A&gt;.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TermsnotAccepted</name>
        <label>TermsnotAccepted</label>
        <locationX>1024</locationX>
        <locationY>622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>aText_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You have chosen not to accept the Terms of Use for the TechnologyOne Customer Community. Access to the Community can only be granted by accepting the &lt;FONT COLOR=&quot;#000066&quot;&gt;&lt;A HREF=&quot;http://www.technologyonecorp.com/terms-of-use2&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Terms of Use&lt;/U&gt;&lt;/A&gt;&lt;/FONT&gt;. &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>fUserLookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vAccountStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
