unpackaged/main/default/flows/VerifyUserAccessandTLS10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>TLS1_check</name>
        <label>TLS1_check</label>
        <locationX>212</locationX>
        <locationY>596</locationY>
        <apexClass>TLS_CheckerProcessPlugin</apexClass>
        <connector>
            <targetReference>TLS_Is_TLSv1_0</targetReference>
        </connector>
        <inputParameters>
            <name>userid</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsUsingTLS10</assignToReference>
            <name>Is TLS1.0</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>No_AcceptTermsOfUse_Radio</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_AcceptTermsOfUse_radio</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>dIsCustomer</name>
        <label>dIsCustomer</label>
        <locationX>455</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.UserType</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>csp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rAccountLookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dIsPortalUser</name>
        <label>dIsPortalUser</label>
        <locationX>147</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_PortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dIsCustomer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_PortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.IsPortalEnabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TLS1_check</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dTermsAccepted</name>
        <label>dTermsAccepted</label>
        <locationX>490</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_TermsAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.Terms_of_Use_Accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TLS1_check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_TermsAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.Terms_of_Use_Accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcceptTerms</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dWereTermsAccepted</name>
        <label>dWereTermsAccepted</label>
        <locationX>781</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_TermsWereAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_accept_the_Terms_of_Use</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uUpdateUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_TermsWereAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_accept_the_Terms_of_Use</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TermsnotAccepted</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support_Stopped</name>
        <label>Support Stopped</label>
        <locationX>613</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stop Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoSupport</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dTermsAccepted</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the user&#39;s browser using TLSv1.0. If yes direct them to warning screen. If not then do nothing.</description>
        <name>TLS_Is_TLSv1_0</name>
        <label>TLS Is TLSv1.0</label>
        <locationX>213</locationX>
        <locationY>700</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TLS_v1_0_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUsingTLS10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TLS10_in_use_message</targetReference>
            </connector>
            <label>TLS v1.0 found</label>
        </rules>
    </decisions>
    <interviewLabel>VerifyUserAccessandTLS10 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VerifyUserAccessandTLS10</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>fUserLookup</name>
        <label>fUserLookup</label>
        <locationX>146</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dIsPortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
        <queriedFields>UserType</queriedFields>
        <queriedFields>Terms_of_Use_Accepted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>rAccountLookup</name>
        <label>rAccountLookup</label>
        <locationX>456</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Support_Stopped</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObject.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountStatus</assignToReference>
            <field>Account_Status_Customer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>uUpdateUser</name>
        <label>uUpdateUser</label>
        <locationX>1006</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>TLS1_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Terms_of_Use_Accepted__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>AcceptTerms</name>
        <label>AcceptTerms</label>
        <locationX>618</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dWereTermsAccepted</targetReference>
        </connector>
        <fields>
            <name>aText_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Use of the TechnologyOne Customer Community is subject to the &lt;FONT COLOR=&quot;#000066&quot;&gt;&lt;A HREF=&quot;http://www.technologyonecorp.com/terms-of-use2&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Terms of Use&lt;/U&gt;&lt;/A&gt;&lt;/FONT&gt;. By ticking the checkbox below you acknowledge your acceptance of the TechnologyOne Customer Community Terms of Use and will be granted access to the Community. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept_the_Terms_of_Use</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I accept&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoSupport</name>
        <label>NoSupport</label>
        <locationX>773</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>aText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You have not been granted access to the Customer Community due to an issue with your account with TechnologyOne (such as unpaid invoices). Please contact the TechnologyOne representative within your organisation or the &lt;A HREF=&quot;http://www.technologyonecorp.com/support&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Support Centre&lt;/U&gt;&lt;/A&gt;.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TermsnotAccepted</name>
        <label>TermsnotAccepted</label>
        <locationX>780</locationX>
        <locationY>622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TLS1_check</targetReference>
        </connector>
        <fields>
            <name>aText_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You have chosen not to accept the Terms of Use for the TechnologyOne Customer Community. Access to the Community can only be granted by accepting the &lt;FONT COLOR=&quot;#000066&quot;&gt;&lt;A HREF=&quot;http://www.technologyonecorp.com/terms-of-use2&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Terms of Use&lt;/U&gt;&lt;/A&gt;&lt;/FONT&gt;. &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TLS10_in_use_message</name>
        <label>TLS10 in use message</label>
        <locationX>215</locationX>
        <locationY>816</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Important Update for Internet Data Security&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sentence1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An update is being applied to the TechnologyOne Customer Community so we can maintain the highest security standards and promote the safety of your data as well as align with industry-wide best practices.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sentence2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;On &lt;B&gt;August 29, 2017&lt;/B&gt; we will be disabling the Transport Layer Security (TLS) 1.0 encryption protocol on the TechnologyOne Customer Community.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sentenc3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This will affect you as you are currently using a non-supported browser or the supported encryption protocols in the browser have been disabled.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sentence4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;For more information please continue to log in and review the &lt;FONT COLOR=&quot;#FF0000&quot;&gt;Internet Data Security - Transport Layer Security (TLS) protocol &lt;/FONT&gt;knowledge article for more information.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sentence5</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;U&gt;Please Note&lt;/U&gt; - If you are still using TLS 1.0 after the above date you will not be able to login to the TechnologyOne Customer Community.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>fUserLookup</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>IsUsingTLS10</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vAccountStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
